/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;

  .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden; /* fix firefox animation glitch */
  }

  .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  .owl-wrapper,
  .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);

  }

  .hoverfx {
    position: relative;
    display: block;
    overflow: visible;
    text-align: center;
    width: 280px;

  }

  .hoverfx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px !important;
  }

  @media screen and (max-width: 600px) {
    .hoverfx img {
      left: 25%;
    }
  }

  .hoverfx:before {
    display: inline-block;
  }

  .hoverfx .figure {
    height: 140px !important;
    position: relative;
    margin-left: -25%;
    z-index: 2;
    display: block;
    width: 100%;
    color: #ecf0f1;
    text-transform: uppercase;
    font-size: 0.8rem;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition-property: all .3s ease;
  }

  @media screen and (max-width: 600px) {
    .hoverfx .figure {
      margin-left: 0%;
    }
  }

  .hoverfx .figure h4 {
    padding-top: 1%;
  }

  .hoverfx .figure p {
    font-size: 0.6rem;
  }

  .hoverfx .figure:hover {
    background: #e9e9e9;
    color: #333;
  }

  .hoverfx .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 0%;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition-property: all .3s ease;
  }

  .item:hover .figure,
  .item:hover .overlay {
    opacity: 1;
  }

  .owl-item {
    position: relative;
    padding-left: 1%;
    min-height: 140px;
    text-align: center;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }



  .owl-item img {
    display: inline-block;
    width: 100%;

  }

  .owl-nav.disabled,
  .owl-dots.disabled {
    display: none;
  }

  .owl-nav .owl-prev,
  .owl-nav .owl-next,
  .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .owl-nav button.owl-prev,
  .owl-nav button.owl-next,
  button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    font-size: 50px;
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    top: -5px;
    height: 140px;
    width: 50px;
  }

  .owl-prev {
    left: -40px;
  }

  .owl-next {
    right: -40px;
  }

  &.owl-loaded {
    display: block;
  }

  &.owl-loading {
    opacity: 0;
    display: block;
  }

  &.owl-hidden {
    opacity: 0;
  }

  &.owl-refresh .owl-item {
    visibility: hidden;
  }

  &.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &.owl-grab {
    cursor: move;
    cursor: grab;
  }

  &.owl-rtl {
    direction: rtl;
  }

  &.owl-rtl .owl-item {
    float: right;
  }
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}
