
<svg xmlns="http://www.w3.org/2000/svg" class="header_image" id="angebot_unmanaged_image" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1280 564">
  <defs>
    <style>
      .cls-1, .cls-16, .cls-2, .cls-22, .cls-23, .cls-24, .cls-35, .cls-36, .cls-37, .cls-38, .cls-41, .cls-42, .cls-43, .cls-44, .cls-45, .cls-50, .cls-51, .cls-52 {
        fill: none;
      }

      .cls-2 {
        stroke: #4d4d4d;
      }

      .cls-16, .cls-2, .cls-22, .cls-23, .cls-24, .cls-38, .cls-41, .cls-42, .cls-43, .cls-44, .cls-45, .cls-50, .cls-51, .cls-52 {
        stroke-miterlimit: 10;
      }

      .cls-3 {
        fill: #81d4dc;
      }

      .cls-4, .cls-5 {
        fill: #1d1d1b;
      }

      .cls-4 {
        opacity: 0.05;
      }

      .cls-5 {
        opacity: 0.1;
      }

      .cls-6 {
        fill: #7dadba;
      }

      .cls-7 {
        fill: #91eaf3;
      }

      .cls-8 {
        fill: #ffd301;
      }

      .cls-9 {
        fill: #367089;
      }

      .cls-10 {
        fill: #a7e4f2;
      }

      .cls-11 {
        fill: #002f47;
      }

      .cls-12 {
        fill: #81b4c4;
      }

      .cls-13 {
        fill: #a7ced1;
      }

      .cls-14 {
        fill: #c0e1e3;
      }

      .cls-15 {
        fill: #c2d64c;
      }

      .cls-16, .cls-36, .cls-37 {
        stroke: #002f47;
      }

      .cls-16, .cls-23, .cls-35, .cls-36, .cls-41, .cls-44, .cls-50, .cls-52 {
        stroke-linecap: round;
      }

      .cls-16 {
        stroke-width: 0.75009px;
      }

      .cls-17 {
        fill: #b8c445;
      }

      .cls-18 {
        clip-path: url(#clip-path);
      }

      .cls-19 {
        fill: #fff;
        fill-rule: evenodd;
      }

      .cls-19, .cls-21 {
        opacity: 0.3;
      }

      #cloud-3 {
        opacity: 1;
        fill: #c2ecf5 !important;
      }

      .cls-20 {
        clip-path: url(#clip-path-2);
      }

      .cls-22 {
        stroke: #2c5871;
      }

      .cls-22, .cls-23, .cls-24 {
        stroke-width: 9.747px;
      }

      .cls-23, .cls-24 {
        stroke: #1d1e1c;
      }

      .cls-25, .cls-28 {
        opacity: 0.2;
      }

      .cls-26 {
        fill: #dd9362;
      }

      .cls-27 {
        fill: #ef9f69;
      }

      .cls-29 {
        fill: #15b0bf;
      }

      .cls-30 {
        fill: #2c5871;
      }

      .cls-31 {
        fill: #c0282e;
      }

      .cls-32 {
        clip-path: url(#clip-path-3);
      }

      .cls-33 {
        fill: #ffd800;
      }

      .cls-34 {
        fill: #0c2f46;
      }

      .cls-35, .cls-41 {
        stroke: #ef9f69;
      }

      .cls-35, .cls-36, .cls-37 {
        stroke-linejoin: round;
        stroke-width: 8.1225px;
      }

      .cls-37, .cls-42 {
        stroke-linecap: square;
      }

      .cls-38 {
        stroke: #ffd301;
        stroke-width: 0.882px;
      }

      .cls-39 {
        fill: #e2b705;
      }

      .cls-40 {
        fill: #bf9c08;
      }

      .cls-41, .cls-42, .cls-50, .cls-51, .cls-52 {
        stroke-width: 8.82px;
      }

      .cls-42, .cls-50 {
        stroke: #999;
      }

      .cls-43 {
        stroke: #666;
      }

      .cls-43, .cls-44, .cls-45 {
        stroke-width: 10.584px;
      }

      .cls-44, .cls-45 {
        stroke: #1d1d1b;
      }

      .cls-46 {
        fill: #de9462;
      }

      .cls-47 {
        fill: gray;
      }

      .cls-48 {
        fill: #ef9f6a;
      }

      .cls-49 {
        fill: #736357;
      }

      .cls-51, .cls-52 {
        stroke: #ef9f6a;
      }
    </style>
    <clipPath id="clip-path">
      <rect class="cls-1" x="606.53367" width="673.46633" height="316.48418"/>
    </clipPath>
    <clipPath id="clip-path-2">
      <rect class="cls-1" x="345.42288" width="506.31091" height="296.25628"/>
    </clipPath>
    <clipPath id="clip-path-3">
      <path class="cls-1" d="M165.26022,294.78807c-3.34161-5.783-11.53924-7.322-17.448-3.90736-.32354.18688-.63371.39258-.938.605,5.72087-2.37929.81984,4.86325,3.88311,10.16521l1.74347,3.017,14.50289-6.86288Z"/>
    </clipPath>
    <symbol id="container_Zeilen" data-name="container_Zeilen" viewBox="0 0 136.991 123.475">
      <path class="cls-2" d="M56.98568,120.532,67.2543,19.6556a.26753.26753,0,0,1,.49625-.00171L78.8257,120.532"/>
      <g>
        <g>
          <rect class="cls-3" y="51.8478" width="136.99057" height="68.0627"/>
          <g>
            <rect class="cls-4" x="4.03284" y="55.88065" width="128.92477" height="59.99685"/>
            <path class="cls-5" d="M131.34442,57.49384v56.77049H5.646V57.49384h125.6984m1.61319-1.61318H4.03284v59.99685H132.95761V55.88066Z"/>
          </g>
        </g>
        <g>
          <g>
            <path class="cls-6" d="M68.87132,60.60947a2.14237,2.14237,0,0,0-2.14339,2.14342v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.14228,2.14228,0,0,0-2.14339-2.14341Z"/>
            <path class="cls-6" d="M58.19191,60.60947a2.14238,2.14238,0,0,0-2.1434,2.14342v46.967a2.1434,2.1434,0,1,0,4.28679,0v-46.967a2.14239,2.14239,0,0,0-2.14339-2.14341Z"/>
            <path class="cls-6" d="M47.55,60.60947a2.14237,2.14237,0,0,0-2.14339,2.14342v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967A2.19229,2.19229,0,0,0,47.55,60.60947Z"/>
            <path class="cls-6" d="M36.87063,60.60947a2.14238,2.14238,0,0,0-2.1434,2.14342v46.967a2.1434,2.1434,0,1,0,4.28679,0v-46.967a2.167,2.167,0,0,0-2.14339-2.14341Z"/>
            <path class="cls-6" d="M111.58916,60.60947a2.14237,2.14237,0,0,0-2.14339,2.14342v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.19229,2.19229,0,0,0-2.14339-2.14341Z"/>
            <path class="cls-6" d="M122.231,60.60947a2.14237,2.14237,0,0,0-2.14339,2.14342v46.967a2.1434,2.1434,0,1,0,4.28679,0v-46.967a2.1424,2.1424,0,0,0-2.1434-2.14341Z"/>
            <path class="cls-6" d="M26.19112,60.60947a2.14237,2.14237,0,0,0-2.14339,2.14342v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.16685,2.16685,0,0,0-2.14339-2.14341Z"/>
            <path class="cls-6" d="M15.51171,60.60947a2.14237,2.14237,0,0,0-2.14339,2.14342v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.14239,2.14239,0,0,0-2.14339-2.14341Z"/>
            <path class="cls-6" d="M100.90975,60.60947a2.14237,2.14237,0,0,0-2.1434,2.14342v46.967a2.1434,2.1434,0,1,0,4.28679,0v-46.967a2.167,2.167,0,0,0-2.14339-2.14341Z"/>
            <path class="cls-6" d="M90.23024,60.60947a2.14237,2.14237,0,0,0-2.14339,2.14342v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.16692,2.16692,0,0,0-2.14339-2.14341Z"/>
            <path class="cls-6" d="M79.55083,60.60947a2.14237,2.14237,0,0,0-2.1434,2.14342v46.967a2.14241,2.14241,0,0,0,2.1434,2.14341,2.11887,2.11887,0,0,0,2.14339-2.14341v-46.967a2.167,2.167,0,0,0-2.14339-2.14341Z"/>
          </g>
          <g>
            <path class="cls-7" d="M68.49528,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.1434,2.1434,0,1,0,4.28679,0v-46.967a2.14227,2.14227,0,0,0-2.1434-2.1434Z"/>
            <path class="cls-7" d="M57.81587,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.14239,2.14239,0,0,0-2.14339-2.1434Z"/>
            <path class="cls-7" d="M47.174,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.1434,2.1434,0,1,0,4.28679,0v-46.967a2.19229,2.19229,0,0,0-2.1434-2.1434Z"/>
            <path class="cls-7" d="M36.49459,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.167,2.167,0,0,0-2.14339-2.1434Z"/>
            <path class="cls-7" d="M111.21312,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.19228,2.19228,0,0,0-2.14339-2.1434Z"/>
            <path class="cls-7" d="M121.855,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.14239,2.14239,0,0,0-2.14339-2.1434Z"/>
            <path class="cls-7" d="M25.81508,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.1434,2.1434,0,1,0,4.28679,0v-46.967a2.16685,2.16685,0,0,0-2.1434-2.1434Z"/>
            <path class="cls-7" d="M15.13567,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.14239,2.14239,0,0,0-2.14339-2.1434Z"/>
            <path class="cls-7" d="M100.53371,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.167,2.167,0,0,0-2.14339-2.1434Z"/>
            <path class="cls-7" d="M89.8542,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.1434,2.1434,0,1,0,4.28679,0v-46.967a2.16692,2.16692,0,0,0-2.1434-2.1434Z"/>
            <path class="cls-7" d="M79.17479,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.14239,2.14239,0,0,0,2.14339,2.14341,2.11887,2.11887,0,0,0,2.14339-2.14341v-46.967a2.167,2.167,0,0,0-2.14339-2.1434Z"/>
          </g>
        </g>
      </g>
      <path class="cls-2" d="M26.295,120.532,66.5636,19.6556a.26753.26753,0,0,1,.49625-.00171L108.135,120.532"/>
      <polygon class="cls-8" points="61.135 0 72.486 0 66.814 9.275 61.135 0"/>
      <path class="cls-2" d="M70.98285,14.867a4.172,4.172,0,1,1-4.17324-4.174V8.62583"/>
      <polygon class="cls-9" points="18.103 120 18.103 123.475 117.708 123.475 117.708 123.475 117.708 120 18.103 120"/>
    </symbol>
  </defs>
  <title>Angebot_Unmanaged</title>
  <g id="bg">
    <rect class="cls-10" width="1280" height="564"/>
  </g>
  <g id="landschaft">
    <g>
      <rect class="cls-11" y="346" width="1280" height="218"/>
      <g>
        <polygon class="cls-12" points="1280 346.966 596.018 346.966 775.878 314.142 833.029 328.147 1033.248 291.323 1206.832 312.984 1280 287.575 1280 346.966"/>
        <polygon class="cls-13" points="1256.575 297.795 1265.938 277 1275.301 297.795 1256.575 297.795"/>
        <polygon class="cls-14" points="1249.892 302.196 1257.417 286.21 1264.941 302.196 1249.892 302.196"/>
        <polygon class="cls-12" points="687.451 347 0 347 0 327.355 176.632 300.08 687.451 347"/>
        <g id="baume">
          <polygon class="cls-13" points="92.198 303.205 85.127 321.673 99.268 321.673 92.198 303.205"/>
        </g>
        <g>
          <polygon class="cls-14" points="489.926 319.006 484.222 333.905 495.63 333.905 489.926 319.006"/>
          <polygon class="cls-13" points="481.944 316.695 473.482 338.798 490.407 338.798 481.944 316.695"/>
        </g>
        <polygon class="cls-14" points="334.914 298.92 326.103 321.933 343.726 321.933 334.914 298.92"/>
        <polygon class="cls-14" points="1159.028 310.531 1153.324 325.429 1164.732 325.429 1159.028 310.531"/>
        <polygon class="cls-13" points="1151.113 299.375 1142.65 321.478 1159.575 321.478 1151.113 299.375"/>
        <g>
          <circle class="cls-15" cx="782.68489" cy="319.58545" r="11.37451"/>
          <g>
            <line class="cls-16" x1="782.57961" y1="320.37996" x2="777.11363" y2="315.28961"/>
            <line class="cls-16" x1="789.30688" y1="317.12603" x2="782.68489" y2="325.16185"/>
            <line class="cls-16" x1="782.68489" y1="347" x2="782.68489" y2="315.00716"/>
          </g>
        </g>
        <g>
          <circle class="cls-17" cx="1253.91573" cy="319.58545" r="11.37451"/>
          <g>
            <line class="cls-16" x1="1254.02101" y1="320.37996" x2="1259.48699" y2="315.28961"/>
            <line class="cls-16" x1="1247.29373" y1="317.12603" x2="1253.91573" y2="325.16185"/>
            <line class="cls-16" x1="1253.91573" y1="347" x2="1253.91573" y2="315.00716"/>
          </g>
        </g>
        <g>
          <circle class="cls-15" cx="1240.93708" cy="325.41598" r="8.95538"/>
          <g>
            <line class="cls-16" x1="1240.85419" y1="326.04151" x2="1236.55071" y2="322.03377"/>
            <line class="cls-16" x1="1246.15071" y1="323.47963" x2="1240.93708" y2="327.9525"/>
            <line class="cls-16" x1="1240.93708" y1="347" x2="1240.93708" y2="321.8114"/>
          </g>
        </g>
      </g>
    </g>
  </g>
  <g id="On-Premises_detail" data-name="On-Premises detail">
    <g id="cloud">
      <g class="cls-18">
        <g>
          <path class="cls-19" d="M1212.9388,104.75881A85.80627,85.80627,0,1,0,1267.525,6.60788a65.02337,65.02337,0,0,0-112.20092.30074,79.15973,79.15973,0,1,0-132.84207,74.71394,79.13574,79.13574,0,0,0,127.25254-21.65471,65.07083,65.07083,0,0,0,63.20421,44.791Z"/>
          <path class="cls-19" d="M916.43635,18.78728a37.08337,37.08337,0,1,0-15.43553,26.70278A43.82119,43.82119,0,0,0,987.15916,61.4697a51.46085,51.46085,0,0,0,49.73074,5.134,80.96022,80.96022,0,1,0,20.264-80.68524q-.38935.38959-.77234.78309-1.59189-1.93708-3.40109-3.75A51.40575,51.40575,0,0,0,965.46661,14.327a43.5974,43.5974,0,0,0-21.23873-5.48574q-1.68273,0-3.33438.12506a27.00606,27.00606,0,0,0-21.60077,7.662Q917.81957,17.65026,916.43635,18.78728Z"/>
        </g>
      </g>
    </g>
    <g id="container-2" data-name="container">
      <g class="cls-20">
        <g>
                    <g id="container-3" data-name="container">
            <polyline class="cls-2" points="445.72 86.936 445.72 121.912 437.9 121.912 437.9 86.936"/>
            <use width="136.99057" height="123.47516" transform="translate(375.11417 120.86237)" xlink:href="#container_Zeilen"/>
          </g>
          <path id="cloud-2" data-name="cloud" class="cls-19" d="M700.89974-62.8143a64.99025,64.99025,0,0,0-91.8927,0q-.31261.3125-.62.62815-1.27785-1.55388-2.73034-3.00807-.75271-.75255-1.53406-1.458a43.10873,43.10873,0,0,0-31.11571-13.22813,43.25425,43.25425,0,0,0-42.12667,33.48246,23.669,23.669,0,0,0-21.91615,23.60059A23.67229,23.67229,0,0,0,532.63633.875,23.55759,23.55759,0,0,0,545.731-3.07762a43.061,43.061,0,0,0,27.27592,9.69214A43.05755,43.05755,0,0,0,592.13636,2.1553c.201-.0823.40305-.16137.603-.247A64.67027,64.67027,0,0,0,609.007,29.05357a64.99025,64.99025,0,0,0,91.8927,0A64.94793,64.94793,0,0,0,700.89974-62.8143Z"/>
          <path id="cloud-3" data-name="cloud" class="cls-19" d="M531.06923,55.69876a49.91387,49.91387,0,1,0,8.99387-64.671,37.836,37.836,0,0,0-60.79664,23.747,46.0013,46.0013,0,1,0,8.11225,29.93271,37.8471,37.8471,0,0,0,43.69052,10.99132Z"/>
        </g>
      </g>
    </g>
  </g>
  <g id="On-Premises">
    <g>
      <ellipse class="cls-21" cx="158.63768" cy="423.0033" rx="26.24378" ry="4.36634"/>
      <g>
        <line class="cls-22" x1="165.72889" y1="372.81723" x2="153.02844" y2="414.97408"/>
        <g>
          <line class="cls-23" x1="154.75156" y1="409.2545" x2="151.61957" y2="419.65057"/>
          <line class="cls-24" x1="156.22363" y1="404.36823" x2="153.09164" y2="414.7643"/>
        </g>
      </g>
      <g>
        <line class="cls-22" x1="165.72889" y1="372.81723" x2="165.72889" y2="416.84565"/>
        <g>
          <line class="cls-23" x1="165.72889" y1="410.87215" x2="165.72889" y2="421.72975"/>
          <line class="cls-24" x1="165.72889" y1="405.76894" x2="165.72889" y2="416.62655"/>
        </g>
      </g>
      <g class="cls-25">
        <polygon points="161.263 403.12 157.304 416.263 155.782 421.295 160.944 376.804 161.263 372.158 161.263 372.817 161.263 403.12"/>
      </g>
      <g id="kopf-2" data-name="kopf">
        <g>
          <rect class="cls-26" x="161.72195" y="319.32033" width="6.4043" height="8.71992" transform="translate(329.84819 647.36058) rotate(-180)"/>
          <path class="cls-27" d="M169.42728,311.255a9.31006,9.31006,0,0,1-16.87556,7.8692l-4.83763-10.37432,16.87556-7.86921Z"/>
          <path class="cls-28" d="M164.95474,323.42431a14.31582,14.31582,0,0,0,3.21809-2.47489v1.938a8.98583,8.98583,0,0,1-2.58444,1.89578,11.64025,11.64025,0,0,1-3.8358.85269l.05584-1.38137A9.27364,9.27364,0,0,0,164.95474,323.42431Z"/>
          <circle cx="164.46392" cy="304.76782" r="0.91574"/>
          <path d="M163.24748,294.57773l-1.70462-1.81656-9.42238,5.66387-1.1113.51816-4.89214,2.28128a3.04617,3.04617,0,0,0-1.58444,4.00275c1.1922,2.55663,3.03166,6.50157,4.59072,9.84516a3.04666,3.04666,0,0,0,4.08465,1.35917l.00912-.00416a9.41784,9.41784,0,0,0,5.54734-8.61211c-.0008-.04194.00158-.08488.00158-.12692a3.07441,3.07441,0,0,1,2.3967,2.29774l.97651-2.08034s-2.21591-1.51866-2.68787-3.2319a6.87725,6.87725,0,0,1,.51757-.88374,8.33343,8.33343,0,0,1,2.49148-2.06929C165.86646,299.66522,164.83827,297.98974,163.24748,294.57773Z"/>
        </g>
      </g>
      <path class="cls-29" d="M180.6027,376.9311H150.85508V339.34541a14.8738,14.8738,0,0,1,14.8738-14.8738h0a14.8738,14.8738,0,0,1,14.87379,14.8738Z"/>
      <g id="helm">
        <g>
          <path class="cls-30" d="M165.28405,294.88717c-3.27238-5.82249-11.45107-7.45912-17.40017-4.11522-5.94885,3.34355-8.82183,11.14711-5.54953,16.96942l1.40905,2.5064,23.248-12.323Z"/>
          <path class="cls-11" d="M165.28405,294.88717c-3.27238-5.82249-11.45107-7.45912-17.40017-4.11522-.32574.183-.63834.385-.94512.5938,5.74884-2.31088,12.8688-.5039,15.8686,4.83423l1.70736,3.03761,2.47669-1.31281Z"/>
          <polygon class="cls-31" points="166.991 297.925 167.717 299.216 167.024 297.908 166.991 297.925"/>
          <polygon class="cls-31" points="143.739 310.25 144.432 311.559 144.469 311.539 143.743 310.248 143.739 310.25"/>
          <polygon class="cls-11" points="143.371 309.544 142.359 312.657 167.717 299.216 166.619 297.221 143.371 309.544"/>
        </g>
        <path class="cls-11" d="M164.76744,294.62238l2.94979,4.59369,6.20232-3.28765S169.38078,292.35325,164.76744,294.62238Z"/>
        <g id="helm-2" data-name="helm">
          <g class="cls-32">
            <g>
              <path class="cls-33" d="M172.26217,282.94058a59.89676,59.89676,0,0,0-15.34961,8.16382.6675.6675,0,0,0-.11426,1.00342q1.60327,1.82153,3.03418,3.72339a.73221.73221,0,0,0,1.00684.17626,53.52522,53.52522,0,0,1,10.80957-5.94409q.30688.58338.60058,1.16992.17945-.77783.36231-1.55444,1.33593-.51892,2.72119-.97876a.70647.70647,0,0,0,.47363-.95044q-1.06713-2.239-2.31689-4.44092A1.05733,1.05733,0,0,0,172.26217,282.94058Z"/>
              <g>
                <path class="cls-34" d="M158.92721,290.93619q.41894,1.54467.812,3.09472.23438-.16736.47217-.33276c-.05176-.20557-.10352-.41113-.15674-.61694q.564-.39039,1.14209-.77.28491.17066.56787.3435.24609-.15857.49463-.31616-1.42236-.873-2.93262-1.67554C159.19332,290.75381,159.05953,290.84512,158.92721,290.93619Zm.99853,1.69653q-.16332-.62915-.33154-1.25708.60132.33288,1.18945.67676Q160.35153,292.33988,159.92574,292.63272Z"/>
                <path class="cls-34" d="M161.76217,289.099q-.52881.32079-1.04639.65039.94044,1.19642,1.81153,2.42065c.15771-.09863.31689-.19629.47607-.29345q-.30175-.43066-.61426-.8584c.18164-.11109.36328-.22193.54737-.33155a.91624.91624,0,0,0,.32324-1.3269A1.14321,1.14321,0,0,0,161.76217,289.099Zm.86328,1.20361q-.26367.15856-.52637.32031-.29223-.3966-.59326-.79028c.17676-.10962.35352-.21753.53076-.32544a.54087.54087,0,0,1,.728.1416A.4332.4332,0,0,1,162.62545,290.30264Z"/>
                <path class="cls-34" d="M164.64645,289.70376q.28418-.156.5708-.31054a.90306.90306,0,0,0,.38183-1.31324,1.1787,1.1787,0,0,0-1.51611-.31762q-.55152.301-1.09082.61084.90894,1.23046,1.75,2.4873c.16455-.09228.33057-.18408.49658-.27514Q164.94723,290.14334,164.64645,289.70376Zm-.853-1.21777q.27539-.15344.55322-.30518a.55711.55711,0,0,1,.73682.16895.43008.43008,0,0,1-.16748.64795c-.18506.09936-.36768.19946-.54981.3Q164.08273,288.8909,163.79342,288.486Z"/>
                <path class="cls-34" d="M167.77486,285.91226q-.27391.12634-.54589.25415.51049.7716.9956,1.551a.6009.6009,0,0,1-.25391.97729.77879.77879,0,0,1-1.082-.33838q-.49731-.769-1.01709-1.52978c-.17871.0896-.35449.17895-.53125.27q.54126.78,1.05713,1.56884a1.35734,1.35734,0,0,0,1.83155.45093,1.044,1.044,0,0,0,.564-1.5957Q168.29781,286.71279,167.77486,285.91226Z"/>
                <path class="cls-34" d="M169.2524,286.18277c-.17627.07666-.353.15381-.52832.23144q.594.947,1.14991,1.90406c.17187-.075.3457-.14917.51806-.22217Q169.84055,287.13406,169.2524,286.18277Z"/>
                <path class="cls-34" d="M168.51022,285.54263a.28008.28008,0,0,0-.14844.40747.401.401,0,0,0,.48633.12573.27567.27567,0,0,0,.147-.40478A.39558.39558,0,0,0,168.51022,285.54263Z"/>
                <path class="cls-34" d="M172.41061,287.35245a1.41543,1.41543,0,0,0,.90478-2.021,2.03235,2.03235,0,0,0-2.50488-.76929,1.395,1.395,0,0,0-.82373,2.0564A2.00457,2.00457,0,0,0,172.41061,287.35245Zm-1.33985-2.35694a1.36446,1.36446,0,0,1,1.67481.54029.94448.94448,0,0,1-.57471,1.37817,1.34269,1.34269,0,0,1-1.63867-.522A.93823.93823,0,0,1,171.07076,284.99551Z"/>
              </g>
              <g>
                <path class="cls-34" d="M160.3901,294.80874a.20212.20212,0,0,0,.21142-.01757c.084-.05713.06446-.1167.04493-.14429-.04053-.053-.09717-.03638-.19239-.0127-.11767.032-.22509.04615-.29785-.05224a.19747.19747,0,0,1,.06787-.28223.258.258,0,0,1,.252-.03613c-.01319.03393-.02588.06811-.03907.10254a.14212.14212,0,0,0-.14257.02343c-.04444.033-.061.0813-.03516.117.03516.05371.09375.0249.20508.00146.13623-.03247.22119-.02417.28564.06275.07227.09863.05762.21435-.08154.31274a.29059.29059,0,0,1-.32129.02954C160.3608,294.87808,160.37643,294.84341,160.3901,294.80874Z"/>
                <path class="cls-34" d="M160.48482,294.13125c.03467-.02441.07081-.04834.1045-.07226.13525.09912.27.19971.40478.2998-.05371-.156-.10547-.31225-.16015-.468.02685-.0188.0542-.03736.08154-.05542.13574.09985.27148.2.40576.30053q-.07837-.234-.15869-.46826l.105-.07056c.07959.23218.15869.46363.23779.69605-.02832.01929-.05664.03833-.08545.05737-.13379-.09985-.2705-.20044-.40625-.2998.05225.157.102.31372.1543.47168l-.084.05713Q160.788,294.35354,160.48482,294.13125Z"/>
                <path class="cls-34" d="M161.35592,293.5375c.03613-.02417.07226-.04858.10889-.07251.14062.19165.27832.384.416.57764-.03613.02344-.07226.04785-.1084.07153C161.63473,293.92154,161.49606,293.72867,161.35592,293.5375Z"/>
                <path class="cls-34" d="M161.93746,293.75357a.20333.20333,0,0,0,.21485-.01123c.08642-.05664.06884-.11377.05029-.14331-.03613-.05274-.10254-.04-.19531-.01831-.12305.02929-.22461.0415-.29981-.06055a.19448.19448,0,0,1,.07617-.28.26957.26957,0,0,1,.25684-.029l-.042.10156a.15271.15271,0,0,0-.14551.01929c-.04639.031-.06787.07934-.03906.116.03906.05372.09179.02979.208.00684.13916-.03027.22706-.01611.28858.0708.06787.09839.05029.21753-.09277.31055a.30115.30115,0,0,1-.32764.02051C161.90572,293.82217,161.92135,293.788,161.93746,293.75357Z"/>
                <path class="cls-34" d="M162.45455,293.41885a.20673.20673,0,0,0,.21631-.00976c.08984-.05371.06836-.11377.05078-.14234-.03515-.05444-.10058-.04175-.19482-.02026-.12744.02807-.227.04028-.30176-.06348a.195.195,0,0,1,.08008-.27929.26411.26411,0,0,1,.2583-.02662c-.01416.0337-.02881.0669-.043.10108a.14937.14937,0,0,0-.147.01831c-.04639.03149-.06885.07934-.04053.11548.0415.05468.09131.03027.209.00854.144-.03174.22608-.01611.28955.07373.07178.1001.04834.21729-.09619.30933a.30193.30193,0,0,1-.3291.01758C162.42281,293.487,162.43844,293.45279,162.45455,293.41885Z"/>
                <path class="cls-34" d="M163.3193,292.27334a.41808.41808,0,0,1,.32422-.04541c-.01221.03614-.02393.07227-.03565.1084a.29488.29488,0,0,0-.22217.03272.23592.23592,0,0,0-.07861.345.26562.26562,0,0,0,.36377.07422.24928.24928,0,0,0,.12549-.17871c.03857.00512.07764.01147.11767.0166a.36853.36853,0,0,1-.17773.2583.39853.39853,0,0,1-.54053-.10181A.35.35,0,0,1,163.3193,292.27334Z"/>
                <path class="cls-34" d="M163.9609,291.89029a.40564.40564,0,0,1,.54736.11157.35219.35219,0,0,1-.13427.50561.40338.40338,0,0,1-.541-.10961A.34809.34809,0,0,1,163.9609,291.89029Zm.34912.52075a.23933.23933,0,0,0,.08447-.34326.2753.2753,0,0,0-.36865-.08106.23482.23482,0,0,0-.08057.34424A.2699.2699,0,0,0,164.31,292.411Z"/>
                <path class="cls-34" d="M164.42867,291.63272c.03418-.01953.06641-.03955.10157-.05859q.31054.10948.61767.22192-.13549-.20911-.27344-.41724c.03809-.02124.07618-.04223.11377-.06347.13184.2.26367.40063.3916.60205-.03125.01758-.06347.03515-.09521.05273-.208-.07666-.418-.15234-.62793-.22681q.14063.2113.27832.42408c-.03711.021-.07422.04248-.11084.06347Q164.62789,291.93131,164.42867,291.63272Z"/>
                <path class="cls-34" d="M165.32272,291.26236c-.0586.033-.11817.06567-.17725.09839-.02148-.03247-.043-.06519-.064-.09766q.23658-.13147.47413-.261c.021.03272.04248.065.064.0979l-.17871.09766c.10889.1687.21826.33765.32519.50635-.03955.02173-.07861.04272-.11718.06445Q165.48776,291.515,165.32272,291.26236Z"/>
                <path class="cls-34" d="M165.81051,290.86441c.03418-.01807.0664-.03613.10058-.0542q.334.22889.66211.46191c-.0415.02222-.08349.04419-.12548.06641-.043-.031-.08692-.06177-.13038-.093-.09765.05176-.19628.104-.29394.1565.00684.05029.01465.10009.02295.15014-.04248.02246-.0835.04492-.12451.06714C165.88473,291.36783,165.84762,291.11538,165.81051,290.86441Zm.41308.31079c-.08886-.06348-.17773-.126-.26757-.189.01562.10206.03125.20459.04785.3064C166.07711,291.25332,166.15035,291.21377,166.22359,291.1752Z"/>
                <path class="cls-34" d="M166.28854,290.61026l.12011-.06275c.12891.20337.25684.407.38184.61109-.04.02051-.0791.0415-.11914.06225C166.54586,291.01675,166.417,290.81363,166.28854,290.61026Z"/>
                <path class="cls-34" d="M166.5732,290.46182l.10645-.05469q.31275.1205.62109.24414-.1311-.2135-.26318-.42675c.03955-.01978.07861-.0398.11768-.05957q.19043.30761.377.616c-.03223.0166-.06543.03321-.09815.04956q-.31494-.12671-.63134-.24951c.08935.14453.1792.28906.26806.43359-.03857.01978-.07763.03931-.11621.05933Q166.76486,290.76737,166.5732,290.46182Z"/>
                <path class="cls-34" d="M167.32125,290.08218c.14551-.07178.29-.14355.43506-.21484.021.033.04053.06665.06152.1001-.10449.051-.209.1018-.313.15356.03077.04883.06006.09814.08936.147q.14649-.07178.29346-.14331c.01953.03369.04.0669.06006.10034-.09815.04761-.19483.09546-.29248.14331.03466.05665.06884.11329.103.17017.106-.05273.2124-.104.31885-.15576.02051.03345.04.06714.05957.10058-.146.07154-.29346.14283-.43945.21558C167.57369,290.49307,167.44674,290.287,167.32125,290.08218Z"/>
                <path class="cls-34" d="M167.90475,289.79532c.08935-.04322.17822-.08619.26757-.12915a.26681.26681,0,0,1,.34229.09082.19038.19038,0,0,1-.02051.23681q.15673.0846.313.16992c-.04687.022-.09277.04346-.13867.06568q-.13915-.07655-.27783-.1521l-.002.00073c-.04.01953-.08007.03858-.1206.05762q.06591.1106.13135.22119l-.12256.05884C168.15475,290.20889,168.02975,290.00137,167.90475,289.79532Zm.43506.17773a.10557.10557,0,0,0,.05371-.15576.12635.12635,0,0,0-.16309-.04883c-.04736.02295-.09424.04541-.14111.06763.03955.06689.07959.13281.11914.19971C168.25191,290.01529,168.29586,289.9938,168.33981,289.97305Z"/>
                <path class="cls-34" d="M168.96774,289.29385c.08935-.04077.17822-.0813.26757-.12182a.27524.27524,0,0,1,.34815.10156.21444.21444,0,0,1-.11084.30664c-.04785.02124-.09473.04272-.1416.064q.06445.10988.12646.22c-.041.0188-.082.03785-.125.05689Q169.1523,289.60647,168.96774,289.29385Zm.43994.18726a.10292.10292,0,0,0,.05029-.15137.1288.1288,0,0,0-.16943-.05322c-.04493.02026-.09082.04077-.13575.06177.03955.06787.07959.13623.11963.2041C169.31734,289.52188,169.36227,289.50137,169.40768,289.48111Z"/>
                <path class="cls-34" d="M169.57613,289.01944c.04248-.0188.08448-.03736.12647-.0564.10205.17578.20166.35205.30273.52881.09326-.04126.187-.08228.27979-.12231.01953.03442.03808.0686.05762.10278-.13624.05884-.271.11792-.40577.17749Q169.759,289.33378,169.57613,289.01944Z"/>
                <path class="cls-34" d="M170.36178,288.67666c.03564-.01513.07178-.03125.1084-.04614q.32885.25379.65283.51123c-.04541.01856-.08936.0376-.13477.0564-.04248-.03418-.08545-.06836-.12842-.10278-.10449.04418-.21093.08911-.3164.134.00439.05054.0083.10083.01172.15137-.04492.019-.08887.03808-.1333.05737C170.40231,289.18423,170.3818,288.93033,170.36178,288.67666Zm.40576.34156q-.1311-.1051-.26367-.20874l.02637.30908C170.60934,289.08511,170.68844,289.05142,170.76754,289.01822Z"/>
                <path class="cls-34" d="M170.999,288.5358c-.06543.02734-.12989.05419-.19434.08154-.01856-.03491-.03809-.06861-.05762-.10352q.25856-.108.52051-.2146c.02.03418.0376.06934.05664.10352l-.1958.08032c.09961.17822.19629.35645.29394.53565-.04248.01782-.08544.03491-.12792.05273Q171.14865,288.80411,170.999,288.5358Z"/>
                <path class="cls-34" d="M171.37008,288.25747c.14648-.05932.292-.11792.44043-.17626.01855.03466.03808.06933.05664.10449-.104.04028-.20752.08178-.31006.123.02979.054.05908.10718.08789.16089.09473-.03759.18848-.0747.28272-.11181.01855.03491.03711.06909.05615.104l-.28272.11206c.04981.09107.09864.18189.14746.27271l-.12939.05175Q171.54636,288.57755,171.37008,288.25747Z"/>
                <path class="cls-34" d="M172.27291,287.88711a.45763.45763,0,0,1,.56787.18775.34158.34158,0,0,1-.21094.48242.45242.45242,0,0,1-.562-.18555A.33679.33679,0,0,1,172.27291,287.88711Zm.30176.56519a.229.229,0,0,0,.13574-.32788.30921.30921,0,0,0-.38086-.13281.22762.22762,0,0,0-.13379.33007A.30279.30279,0,0,0,172.57467,288.4523Z"/>
                <path class="cls-34" d="M172.80563,287.69815c.09521-.03613.19189-.07178.28808-.10693a.284.284,0,0,1,.34863.1184.18851.18851,0,0,1-.03906.23389c.105.06494.2085.12988.3125.19556-.0498.01806-.09961.03564-.14892.05371-.09229-.05786-.18409-.116-.27735-.17407l-.00195.00073c-.044.01587-.08594.03149-.12988.04761.04.07666.08007.15429.12011.23144l-.13183.04858Q172.97823,288.02262,172.80563,287.69815Zm.439.2124a.1029.1029,0,0,0,.0669-.15112.133.133,0,0,0-.16553-.06177c-.04981.01856-.10156.0376-.15137.0564.03565.06958.07275.13891.1084.20874C173.15035,287.945,173.19723,287.92788,173.24459,287.91055Z"/>
                <path class="cls-34" d="M173.49459,287.44522c.03857-.01343.07666-.02759.11475-.041.15185.09034.3042.18018.45654.272.02686-.15357.0542-.30787.08008-.46094.0376-.01343.07666-.02661.11426-.0398q.167.3285.33056.657c-.042.0144-.084.029-.12646.04345q-.11133-.22228-.22315-.44433-.041.21715-.0791.43432-.21606-.1278-.43115-.25415.11279.22047.2251.44165c-.042.01514-.084.02979-.126.04468Q173.663,287.771,173.49459,287.44522Z"/>
              </g>
            </g>
          </g>
        </g>
      </g>
      <g id="arm">
        <polyline class="cls-35" points="164.248 333.187 184.457 322.993 201.445 293.593"/>
        <line class="cls-36" x1="164.24774" y1="333.18718" x2="178.81492" y2="325.83913"/>
        <line class="cls-37" x1="173.17401" y1="328.68455" x2="178.81492" y2="325.83913"/>
      </g>
      <path class="cls-27" d="M159.78583,310.98941a2.35958,2.35958,0,1,1-3.52387-.73969A2.56367,2.56367,0,0,1,159.78583,310.98941Z"/>
    </g>
    <g>
      <ellipse class="cls-21" cx="227.64491" cy="435.69736" rx="28.4974" ry="4.74129"/>
      <g>
        <path id="kabel" class="cls-38" d="M270.17375,361.90834s3.8119,78.69309-36.84845,79.96373H0"/>
        <g>
          <polygon class="cls-39" points="297.969 346.282 280.515 362.611 276.118 357.665 293.571 341.337 297.969 346.282"/>
          <polygon class="cls-8" points="278.106 342.631 260.653 358.959 276.118 357.665 293.571 341.337 278.106 342.631"/>
          <polygon class="cls-40" points="265.05 363.905 260.653 358.959 276.118 357.665 280.515 362.611 265.05 363.905"/>
          <g>
            <path class="cls-29" d="M276.28213,346.81114a6.17179,6.17179,0,0,1,3.303-2.07938c.92641-.08414.96911.71809.06463,1.81679a6.11837,6.11837,0,0,1-3.41725,2.17035C275.29968,348.77882,275.3364,347.91337,276.28213,346.81114Z"/>
            <path class="cls-29" d="M280.62494,346.85461a6.03307,6.03307,0,0,1,3.38433-2.15887c.99187-.0876,1.10729.74519.22558,1.887a5.97608,5.97608,0,0,1-3.50439,2.25709C279.72931,348.90129,279.69732,348.00026,280.62494,346.85461Z"/>
            <path class="cls-29" d="M271.03228,351.533a6.47054,6.47054,0,0,1,3.493-2.2135c.93053-.05643.89475.853-.11436,2.05936a6.42173,6.42173,0,0,1-3.62108,2.31588C269.85523,353.72228,269.98,352.74173,271.03228,351.533Z"/>
          </g>
        </g>
      </g>
      <g>
        <line class="cls-41" x1="275.40951" y1="344.38471" x2="266.6099" y2="342.66029"/>
        <path class="cls-42" d="M235.72012,336.08095l10.06735,10.32549a9.404,9.404,0,0,0,11.39892,1.6l7.27554-4.15746"/>
      </g>
      <g>
        <g>
          <line class="cls-43" x1="235.0155" y1="379.3545" x2="220.82514" y2="426.45682"/>
          <g>
            <line class="cls-44" x1="222.7504" y1="420.06627" x2="219.25099" y2="431.68192"/>
            <line class="cls-45" x1="224.39516" y1="413.30517" x2="220.89575" y2="426.22243"/>
          </g>
        </g>
        <g>
          <line class="cls-43" x1="235.0155" y1="379.3545" x2="235.0155" y2="428.54794"/>
          <g>
            <line class="cls-44" x1="235.0155" y1="421.87368" x2="235.0155" y2="434.00501"/>
            <line class="cls-45" x1="235.0155" y1="414.78679" x2="235.0155" y2="428.30315"/>
          </g>
        </g>
        <g class="cls-25">
          <polygon points="230.026 413.212 225.602 427.897 223.901 433.519 229.67 383.809 230.026 378.618 230.026 379.354 230.026 413.212"/>
        </g>
        <rect class="cls-46" x="231.4377" y="318.82656" width="7.1556" height="7.1556" transform="translate(470.031 644.80871) rotate(-180)"/>
        <path class="cls-47" d="M251.63418,383.951H218.39682V341.95605a16.61866,16.61866,0,0,1,16.61866-16.61866h0a16.61866,16.61866,0,0,1,16.61866,16.61866Z"/>
        <g class="head">
          <path class="cls-28" d="M235.0155,321.99624a14.10617,14.10617,0,0,0,3.56447-2.32459l.02591,2.09856a9.50885,9.50885,0,0,1-2.98506,1.78809,14.114,14.114,0,0,1-4.19148.725l.01679-1.59561A10.36128,10.36128,0,0,0,235.0155,321.99624Z"/>
          <path class="cls-48" d="M240.95627,308.53814a10.40223,10.40223,0,0,1-19.39886,7.51732l-4.62131-11.92553,19.39886-7.51732Z"/>
          <path class="cls-48" d="M240.95627,308.53814a10.40223,10.40223,0,0,1-19.39886,7.51732l-4.62131-11.92553,19.39886-7.51732Z"/>
          <path class="cls-1" d="M240.89389,316.03769a6.94852,6.94852,0,0,1-5.32693-.12337"/>
          <circle cx="234.84872" cy="303.26945" r="1.02317"/>
          <path class="cls-49" d="M237.11476,289.25222,221.55967,295.28l-1.27722.49494-5.624,2.17936a3.40325,3.40325,0,0,0-2.064,4.34451l4.38551,11.317a3.40385,3.40385,0,0,0,4.45264,1.81922l.01026-.004a10.52254,10.52254,0,0,0,6.82515-9.18833,7.44872,7.44872,0,0,1,1.64224-4.39763,9.3153,9.3153,0,0,1,2.9314-2.12159A8.45575,8.45575,0,0,0,237.117,289.258Z"/>
          <path class="cls-48" d="M230.22744,307.52474A2.63638,2.63638,0,1,1,226.354,306.438,2.86443,2.86443,0,0,1,230.22744,307.52474Z"/>
        </g>
        <g>
          <g class="cls-25">
            <path d="M233.23321,331.0831a3.56318,3.56318,0,0,1,3.56344,3.56344V353.711a4.99487,4.99487,0,0,0,4.98882,4.98881h9.84887v7.12689h-9.84887a12.13014,12.13014,0,0,1-12.1157-12.1157V334.64654A3.56318,3.56318,0,0,1,233.23321,331.0831Z"/>
          </g>
          <path class="cls-50" d="M235.0155,331.78256V350.847a8.55226,8.55226,0,0,0,8.55226,8.55226H270.048"/>
          <g>
            <line class="cls-51" x1="260.60516" y1="359.39923" x2="268.55435" y2="359.39923"/>
            <line class="cls-52" x1="266.30702" y1="359.39923" x2="271.40528" y2="359.39923"/>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
