
<svg xmlns="http://www.w3.org/2000/svg" class="header_image" id="angebot_managed_image" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1280 564">
  <defs>
    <style>
      .cls-1, .cls-16, .cls-2, .cls-22, .cls-23, .cls-24, .cls-25, .cls-29, .cls-34, .cls-35 {
        fill: none;
      }

      .cls-2 {
        stroke: #4d4d4d;
      }

      .cls-16, .cls-2, .cls-22, .cls-23, .cls-24, .cls-25, .cls-29, .cls-34, .cls-35 {
        stroke-miterlimit: 10;
      }

      .cls-3 {
        fill: #81d4dc;
      }

      .cls-4, .cls-5 {
        fill: #1d1d1b;
      }

      .cls-4 {
        opacity: 0.05;
      }

      .cls-5 {
        opacity: 0.1;
      }

      .cls-6 {
        fill: #7dadba;
      }

      .cls-7 {
        fill: #91eaf3;
      }

      .cls-8 {
        fill: #ffd301;
      }

      .cls-9 {
        fill: #367089;
      }

      .cls-10 {
        fill: #a7e4f2;
      }

      .cls-11 {
        fill: #002f47;
      }

      .cls-12 {
        fill: #81b4c4;
      }

      .cls-13 {
        fill: #a7ced1;
      }

      .cls-14 {
        fill: #c0e1e3;
      }

      .cls-15 {
        fill: #c2d64c;
      }

      .cls-16 {
        stroke: #002f47;
        stroke-width: 0.75009px;
      }

      .cls-16, .cls-23, .cls-29, .cls-34 {
        stroke-linecap: round;
      }

      .cls-17 {
        fill: #b8c445;
      }

      .cls-18 {
        clip-path: url(#clip-path);
      }

      .cls-19 {
        fill: #fff;
        fill-rule: evenodd;
      }

      .cls-19 {
        fill: #c2ecf5 !important;
      }

      .cls-21 {
        opacity: 0.2;
      }

      .cls-20 {
        clip-path: url(#clip-path-2);
      }

      .cls-22, .cls-34, .cls-35 {
        stroke: #2c5871;
      }

      .cls-22, .cls-23, .cls-24 {
        stroke-width: 12px;
      }

      .cls-23, .cls-24 {
        stroke: #1d1e1c;
      }

      .cls-25 {
        stroke: #ffd301;
      }

      .cls-26 {
        fill: #e2b705;
      }

      .cls-27 {
        fill: #bf9c08;
      }

      .cls-28 {
        fill: #15b0bf;
      }

      .cls-29 {
        stroke: #ef9f69;
      }

      .cls-29, .cls-34, .cls-35 {
        stroke-width: 10px;
      }

      .cls-30, .cls-33 {
        opacity: 0.2;
      }

      .cls-31 {
        fill: #dd9362;
      }

      .cls-32 {
        fill: #ef9f69;
      }

      .cls-35 {
        stroke-linecap: square;
      }

      .cls-36 {
        fill: #2c5871;
      }

      .cls-37 {
        fill: #c0282e;
      }

      .cls-38 {
        clip-path: url(#clip-path-3);
      }

      .cls-39 {
        fill: #ffd800;
      }

      .cls-40 {
        fill: #0c2f46;
      }
    </style>
    <clipPath id="clip-path">
      <rect class="cls-1" x="345.42288" width="506.31091" height="296.25628"/>
    </clipPath>
    <clipPath id="clip-path-2">
      <rect class="cls-1" x="606.53367" width="673.46633" height="316.48418"/>
    </clipPath>
    <clipPath id="clip-path-3">
      <path class="cls-1" d="M213.61341,278.56939c-3.7129-6.4256-12.82138-8.13555-19.3867-4.34152-.35948.20764-.70411.4362-1.04219.67226,6.35651-2.64365.91093,5.40361,4.31457,11.29468l1.93718,3.35225,16.11432-7.62542Z"/>
    </clipPath>
    <symbol id="container_Zeilen" data-name="container_Zeilen" viewBox="0 0 136.991 123.475">
      <path class="cls-2" d="M56.98568,120.532,67.2543,19.6556a.26753.26753,0,0,1,.49625-.00171L78.8257,120.532"/>
      <g>
        <g>
          <rect class="cls-3" y="51.8478" width="136.99057" height="68.0627"/>
          <g>
            <rect class="cls-4" x="4.03284" y="55.88065" width="128.92477" height="59.99685"/>
            <path class="cls-5" d="M131.34442,57.49384v56.77049H5.646V57.49384h125.6984m1.61319-1.61318H4.03284v59.99685H132.95761V55.88066Z"/>
          </g>
        </g>
        <g>
          <g>
            <path class="cls-6" d="M68.87132,60.60947a2.14237,2.14237,0,0,0-2.14339,2.14342v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.14228,2.14228,0,0,0-2.14339-2.14341Z"/>
            <path class="cls-6" d="M58.19191,60.60947a2.14238,2.14238,0,0,0-2.1434,2.14342v46.967a2.1434,2.1434,0,1,0,4.28679,0v-46.967a2.14239,2.14239,0,0,0-2.14339-2.14341Z"/>
            <path class="cls-6" d="M47.55,60.60947a2.14237,2.14237,0,0,0-2.14339,2.14342v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967A2.19229,2.19229,0,0,0,47.55,60.60947Z"/>
            <path class="cls-6" d="M36.87063,60.60947a2.14238,2.14238,0,0,0-2.1434,2.14342v46.967a2.1434,2.1434,0,1,0,4.28679,0v-46.967a2.167,2.167,0,0,0-2.14339-2.14341Z"/>
            <path class="cls-6" d="M111.58916,60.60947a2.14237,2.14237,0,0,0-2.14339,2.14342v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.19229,2.19229,0,0,0-2.14339-2.14341Z"/>
            <path class="cls-6" d="M122.231,60.60947a2.14237,2.14237,0,0,0-2.14339,2.14342v46.967a2.1434,2.1434,0,1,0,4.28679,0v-46.967a2.1424,2.1424,0,0,0-2.1434-2.14341Z"/>
            <path class="cls-6" d="M26.19112,60.60947a2.14237,2.14237,0,0,0-2.14339,2.14342v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.16685,2.16685,0,0,0-2.14339-2.14341Z"/>
            <path class="cls-6" d="M15.51171,60.60947a2.14237,2.14237,0,0,0-2.14339,2.14342v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.14239,2.14239,0,0,0-2.14339-2.14341Z"/>
            <path class="cls-6" d="M100.90975,60.60947a2.14237,2.14237,0,0,0-2.1434,2.14342v46.967a2.1434,2.1434,0,1,0,4.28679,0v-46.967a2.167,2.167,0,0,0-2.14339-2.14341Z"/>
            <path class="cls-6" d="M90.23024,60.60947a2.14237,2.14237,0,0,0-2.14339,2.14342v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.16692,2.16692,0,0,0-2.14339-2.14341Z"/>
            <path class="cls-6" d="M79.55083,60.60947a2.14237,2.14237,0,0,0-2.1434,2.14342v46.967a2.14241,2.14241,0,0,0,2.1434,2.14341,2.11887,2.11887,0,0,0,2.14339-2.14341v-46.967a2.167,2.167,0,0,0-2.14339-2.14341Z"/>
          </g>
          <g>
            <path class="cls-7" d="M68.49528,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.1434,2.1434,0,1,0,4.28679,0v-46.967a2.14227,2.14227,0,0,0-2.1434-2.1434Z"/>
            <path class="cls-7" d="M57.81587,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.14239,2.14239,0,0,0-2.14339-2.1434Z"/>
            <path class="cls-7" d="M47.174,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.1434,2.1434,0,1,0,4.28679,0v-46.967a2.19229,2.19229,0,0,0-2.1434-2.1434Z"/>
            <path class="cls-7" d="M36.49459,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.167,2.167,0,0,0-2.14339-2.1434Z"/>
            <path class="cls-7" d="M111.21312,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.19228,2.19228,0,0,0-2.14339-2.1434Z"/>
            <path class="cls-7" d="M121.855,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.14239,2.14239,0,0,0-2.14339-2.1434Z"/>
            <path class="cls-7" d="M25.81508,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.1434,2.1434,0,1,0,4.28679,0v-46.967a2.16685,2.16685,0,0,0-2.1434-2.1434Z"/>
            <path class="cls-7" d="M15.13567,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.14239,2.14239,0,0,0-2.14339-2.1434Z"/>
            <path class="cls-7" d="M100.53371,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.14339,2.14339,0,1,0,4.28678,0v-46.967a2.167,2.167,0,0,0-2.14339-2.1434Z"/>
            <path class="cls-7" d="M89.8542,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.1434,2.1434,0,1,0,4.28679,0v-46.967a2.16692,2.16692,0,0,0-2.1434-2.1434Z"/>
            <path class="cls-7" d="M79.17479,60.23344a2.14236,2.14236,0,0,0-2.14339,2.14341v46.967a2.14239,2.14239,0,0,0,2.14339,2.14341,2.11887,2.11887,0,0,0,2.14339-2.14341v-46.967a2.167,2.167,0,0,0-2.14339-2.1434Z"/>
          </g>
        </g>
      </g>
      <path class="cls-2" d="M26.295,120.532,66.5636,19.6556a.26753.26753,0,0,1,.49625-.00171L108.135,120.532"/>
      <polygon class="cls-8" points="61.135 0 72.486 0 66.814 9.275 61.135 0"/>
      <path class="cls-2" d="M70.98285,14.867a4.172,4.172,0,1,1-4.17324-4.174V8.62583"/>
      <polygon class="cls-9" points="18.103 120 18.103 123.475 117.708 123.475 117.708 123.475 117.708 120 18.103 120"/>
    </symbol>
  </defs>
  <title>Angebot_Managed</title>
  <g id="bg">
    <rect class="cls-10" width="1280" height="564"/>
  </g>
  <g id="landschaft">
    <g>
      <rect class="cls-11" y="346" width="1280" height="218"/>
      <g>
        <polygon class="cls-12" points="1280 346.966 596.018 346.966 775.878 314.142 833.029 328.147 1033.248 291.323 1206.832 312.984 1280 287.575 1280 346.966"/>
        <polygon class="cls-13" points="1256.575 297.795 1265.938 277 1275.301 297.795 1256.575 297.795"/>
        <polygon class="cls-14" points="1249.892 302.196 1257.417 286.21 1264.941 302.196 1249.892 302.196"/>
        <polygon class="cls-12" points="687.451 347 0 347 0 327.355 176.632 300.08 687.451 347"/>
        <g id="baume">
          <polygon class="cls-13" points="92.198 303.205 85.127 321.673 99.268 321.673 92.198 303.205"/>
        </g>
        <g>
          <polygon class="cls-14" points="489.926 319.006 484.222 333.905 495.63 333.905 489.926 319.006"/>
          <polygon class="cls-13" points="481.944 316.695 473.482 338.798 490.407 338.798 481.944 316.695"/>
        </g>
        <polygon class="cls-14" points="334.914 298.92 326.103 321.933 343.726 321.933 334.914 298.92"/>
        <polygon class="cls-14" points="1159.028 310.531 1153.324 325.429 1164.732 325.429 1159.028 310.531"/>
        <polygon class="cls-13" points="1151.113 299.375 1142.65 321.478 1159.575 321.478 1151.113 299.375"/>
        <g>
          <circle class="cls-15" cx="782.68489" cy="319.58545" r="11.37451"/>
          <g>
            <line class="cls-16" x1="782.57961" y1="320.37996" x2="777.11363" y2="315.28961"/>
            <line class="cls-16" x1="789.30688" y1="317.12603" x2="782.68489" y2="325.16185"/>
            <line class="cls-16" x1="782.68489" y1="347" x2="782.68489" y2="315.00716"/>
          </g>
        </g>
        <g>
          <circle class="cls-17" cx="1253.91573" cy="319.58545" r="11.37451"/>
          <g>
            <line class="cls-16" x1="1254.02101" y1="320.37996" x2="1259.48699" y2="315.28961"/>
            <line class="cls-16" x1="1247.29373" y1="317.12603" x2="1253.91573" y2="325.16185"/>
            <line class="cls-16" x1="1253.91573" y1="347" x2="1253.91573" y2="315.00716"/>
          </g>
        </g>
        <g>
          <circle class="cls-15" cx="1240.93708" cy="325.41598" r="8.95538"/>
          <g>
            <line class="cls-16" x1="1240.85419" y1="326.04151" x2="1236.55071" y2="322.03377"/>
            <line class="cls-16" x1="1246.15071" y1="323.47963" x2="1240.93708" y2="327.9525"/>
            <line class="cls-16" x1="1240.93708" y1="347" x2="1240.93708" y2="321.8114"/>
          </g>
        </g>
      </g>
    </g>
  </g>
  <g id="Managed_detail" data-name="Managed detail">
    <g id="container">
      <g class="cls-18">
        <g>
          <g id="container-2" data-name="container">
            <polyline class="cls-2" points="445.72 86.936 445.72 121.912 437.9 121.912 437.9 86.936"/>
            <use width="136.99057" height="123.47516" transform="translate(375.11417 120.86237)" xlink:href="#container_Zeilen"/>
          </g>
          <path id="cloud" class="cls-19" d="M700.89974-62.8143a64.99025,64.99025,0,0,0-91.8927,0q-.31261.3125-.62.62815-1.27785-1.55388-2.73034-3.00807-.75271-.75255-1.53406-1.458a43.10873,43.10873,0,0,0-31.11571-13.22813,43.25425,43.25425,0,0,0-42.12667,33.48246,23.669,23.669,0,0,0-21.91615,23.60059A23.67229,23.67229,0,0,0,532.63633.875,23.55759,23.55759,0,0,0,545.731-3.07762a43.061,43.061,0,0,0,27.27592,9.69214A43.05755,43.05755,0,0,0,592.13636,2.1553c.201-.0823.40305-.16137.603-.247A64.67027,64.67027,0,0,0,609.007,29.05357a64.99025,64.99025,0,0,0,91.8927,0A64.94793,64.94793,0,0,0,700.89974-62.8143Z"/>
          <path id="cloud-2" data-name="cloud" class="cls-19" d="M531.06923,55.69876a49.91387,49.91387,0,1,0,8.99387-64.671,37.836,37.836,0,0,0-60.79664,23.747,46.0013,46.0013,0,1,0,8.11225,29.93271,37.8471,37.8471,0,0,0,43.69052,10.99132Z"/>
        </g>
      </g>
    </g>
    <g id="cloud-3" data-name="cloud">
      <g class="cls-20">
        <g>
          <path class="cls-19" d="M1212.9388,104.75881A85.80627,85.80627,0,1,0,1267.525,6.60788a65.02337,65.02337,0,0,0-112.20092.30074,79.15973,79.15973,0,1,0-132.84207,74.71394,79.13574,79.13574,0,0,0,127.25254-21.65471,65.07083,65.07083,0,0,0,63.20421,44.791Z"/>
          <path class="cls-19" d="M916.43635,18.78728a37.08337,37.08337,0,1,0-15.43553,26.70278A43.82119,43.82119,0,0,0,987.15916,61.4697a51.46085,51.46085,0,0,0,49.73074,5.134,80.96022,80.96022,0,1,0,20.264-80.68524q-.38935.38959-.77234.78309-1.59189-1.93708-3.40109-3.75A51.40575,51.40575,0,0,0,965.46661,14.327a43.5974,43.5974,0,0,0-21.23873-5.48574q-1.68273,0-3.33438.12506a27.00606,27.00606,0,0,0-21.60077,7.662Q917.81957,17.65026,916.43635,18.78728Z"/>
        </g>
      </g>
    </g>
  </g>
  <g id="Managed">
    <g id="appuio_manager" data-name="appuio manager">
      <g>
        <ellipse class="cls-21" cx="208.71816" cy="437.97575" rx="32.30997" ry="5.37561"/>
        <g>
          <g>
            <line class="cls-22" x1="217.44849" y1="376.18927" x2="201.81235" y2="428.09059"/>
            <g>
              <line class="cls-23" x1="203.93377" y1="421.04894" x2="200.07782" y2="433.84804"/>
              <line class="cls-24" x1="205.74611" y1="415.03321" x2="201.89016" y2="427.83232"/>
            </g>
          </g>
          <g>
            <line class="cls-22" x1="217.44849" y1="376.18927" x2="217.44849" y2="430.39476"/>
            <g>
              <line class="cls-23" x1="217.44849" y1="423.0405" x2="217.44849" y2="436.40782"/>
              <line class="cls-24" x1="217.44849" y1="416.7577" x2="217.44849" y2="430.12503"/>
            </g>
          </g>
          <g>
            <path id="kabel" class="cls-25" d="M252.09277,355.19546s4.32189,91.13-41.77828,92.57066H-.37459"/>
            <g>
              <polygon class="cls-26" points="283.606 337.479 263.818 355.992 258.832 350.384 278.621 331.872 283.606 337.479"/>
              <polygon class="cls-8" points="261.087 333.339 241.298 351.852 258.832 350.384 278.621 331.872 261.087 333.339"/>
              <polygon class="cls-27" points="246.283 357.459 241.298 351.852 258.832 350.384 263.818 355.992 246.283 357.459"/>
              <g>
                <path class="cls-28" d="M259.01838,338.07845a6.99754,6.99754,0,0,1,3.74485-2.35757c1.05036-.0954,1.09877.81416.07329,2.05985a6.93693,6.93693,0,0,1-3.87444,2.46072C257.90449,340.30938,257.94612,339.32815,259.01838,338.07845Z"/>
                <path class="cls-28" d="M263.9422,338.12774a6.84026,6.84026,0,0,1,3.8371-2.4477c1.12457-.09932,1.25543.84489.25577,2.1395a6.77567,6.77567,0,0,1-3.97323,2.559C262.92674,340.44824,262.89047,339.42666,263.9422,338.12774Z"/>
                <path class="cls-28" d="M253.06616,343.43205a7.33617,7.33617,0,0,1,3.96035-2.50964c1.055-.064,1.01446.96712-.12966,2.33488-1.17388,1.40334-3.03075,2.594-4.10553,2.62571C251.73164,345.91421,251.87308,344.80248,253.06616,343.43205Z"/>
              </g>
            </g>
          </g>
          <g>
            <line class="cls-29" id="hand" x1="258.02901" y1="335.3274" x2="248.05213" y2="333.37227"/>
            <path class="cls-29" d="M213.0297,325.9127l11.41423,11.70691a10.6621,10.6621,0,0,0,12.924,1.81408l8.24891-4.71367"/>
          </g>
          <g class="cls-30">
            <polygon points="211.951 413.497 207.076 429.677 205.202 435.872 211.558 381.097 211.951 375.377 211.951 376.189 211.951 413.497"/>
          </g>
          <g id="kopf-2" data-name="kopf">
            <g>
              <rect class="cls-31" x="212.51535" y="310.32666" width="7.88464" height="10.73551" transform="translate(432.91534 631.38883) rotate(-180)"/>
              <path class="cls-32" d="M222.00175,300.39705a11.46206,11.46206,0,1,1-20.77631,9.68815l-5.95583-12.77232,20.77631-9.68815Z"/>
              <path class="cls-33" d="M216.4954,315.37927a17.625,17.625,0,0,0,3.96194-3.047v2.38593a11.06306,11.06306,0,0,1-3.18182,2.334,14.33073,14.33073,0,0,1-4.72245,1.04978l.06875-1.70067A11.417,11.417,0,0,0,216.4954,315.37927Z"/>
              <circle cx="215.89112" cy="292.41037" r="1.12741"/>
              <path d="M214.92446,281.28074l-2.09863-2.23645-11.60036,6.97305-1.36816.63794-6.023,2.80859a3.75029,3.75029,0,0,0-1.95069,4.928c1.46778,3.14759,3.73243,8.0044,5.65186,12.12085a3.7509,3.7509,0,0,0,5.02881,1.67334l.01123-.00512a11.59477,11.59477,0,0,0,6.82959-10.60279c-.001-.05163.00195-.10449.00195-.15625a3.785,3.785,0,0,1,2.95069,2.82886l1.20223-2.56121s-2.72811-1.8697-3.30917-3.97895a8.46636,8.46636,0,0,1,.63721-1.088,10.25958,10.25958,0,0,1,3.06738-2.54761C218.14881,287.5442,216.883,285.48142,214.92446,281.28074Z"/>
            </g>
          </g>
          <path class="cls-28" d="M235.76036,381.254H199.13663V334.9805a18.31184,18.31184,0,0,1,18.31184-18.31185h0a18.31185,18.31185,0,0,1,18.31185,18.31185Z"/>
          <g id="arm">
            <g class="cls-30">
              <path d="M215.48461,322.99976a3.92621,3.92621,0,0,1,3.9265,3.9265V347.933a5.50377,5.50377,0,0,0,5.4971,5.4971h10.85233v7.853H224.90821a13.366,13.366,0,0,1-13.3501-13.3501V326.92626A3.92621,3.92621,0,0,1,215.48461,322.99976Z"/>
            </g>
            <path class="cls-29" d="M217.44849,323.77049v21.00678a9.4236,9.4236,0,0,0,9.4236,9.4236h29.17818"/>
            <line class="cls-34" x1="217.44849" y1="323.77049" x2="217.44849" y2="337.77727"/>
            <line class="cls-35" x1="217.44849" y1="333.77049" x2="217.44849" y2="341.77727"/>
          </g>
        </g>
      </g>
      <path class="cls-32" d="M210.1317,300.07007a2.905,2.905,0,1,1-4.3384-.91067A3.15625,3.15625,0,0,1,210.1317,300.07007Z"/>
      <g id="helm">
        <g>
          <path class="cls-36" d="M213.63989,278.6795c-3.636-6.46943-12.72342-8.28791-19.33353-4.57247-6.60983,3.71505-9.802,12.38568-6.16615,18.85492l1.56562,2.78488L215.537,282.05461Z"/>
          <path class="cls-11" d="M213.63989,278.6795c-3.636-6.46943-12.72342-8.28791-19.33353-4.57247-.36193.20334-.70927.42777-1.05014.65978,6.3876-2.56764,14.29867-.55989,17.63179,5.37137l1.89706,3.37511,2.75188-1.45868Z"/>
          <polygon class="cls-37" points="215.537 282.055 216.343 283.489 215.573 282.036 215.537 282.055"/>
          <polygon class="cls-37" points="189.7 295.75 190.471 297.203 190.512 297.182 189.706 295.747 189.7 295.75"/>
          <polygon class="cls-11" points="189.292 294.965 188.168 298.424 216.343 283.489 215.123 281.273 189.292 294.965"/>
        </g>
        <path class="cls-11" d="M213.06587,278.38529l3.27754,5.10409,6.89148-3.65294S218.1918,275.864,213.06587,278.38529Z"/>
        <g id="helm-2" data-name="helm">
          <g class="cls-38">
            <g>
              <path class="cls-39" d="M221.39363,265.40538a66.54413,66.54413,0,0,0-17.05468,9.0708.739.739,0,0,0-.127,1.11511q1.78053,2.02386,3.3711,4.137a.81168.81168,0,0,0,1.11865.1958,59.51172,59.51172,0,0,1,12.01074-6.60461q.34057.64893.66651,1.3.19922-.86389.40332-1.7273,1.48316-.57714,3.023-1.08752a.78561.78561,0,0,0,.52587-1.05591q-1.18359-2.488-2.57373-4.93433A1.17771,1.17771,0,0,0,221.39363,265.40538Z"/>
              <g>
                <path class="cls-40" d="M206.57674,274.28953q.46583,1.71679.90283,3.43872c.17432-.1239.34815-.24768.52539-.37024-.05908-.22851-.1167-.457-.1748-.6853q.62622-.43377,1.26855-.85535c.21094.126.42188.25318.63086.38147.18213-.11755.36573-.23523.54981-.35119q-1.582-.97083-3.25879-1.86194C206.87215,274.08641,206.72469,274.18773,206.57674,274.28953Zm1.11035,1.88489q-.18237-.69855-.36865-1.39661.66943.369,1.32178.752Q208.159,275.84873,207.68709,276.17442Z"/>
                <path class="cls-40" d="M209.72713,272.24815q-.5874.3565-1.1626.72266,1.04444,1.32915,2.01319,2.68982c.17529-.1095.352-.21814.52832-.32593q-.33692-.47919-.68262-.9541.30249-.18549.60889-.36841a1.01461,1.01461,0,0,0,.3584-1.47425A1.26669,1.26669,0,0,0,209.72713,272.24815Zm.95947,1.33728c-.19531.11768-.3916.23657-.585.35584-.21728-.29395-.438-.58619-.65918-.87793q.293-.182.59034-.36158a.59965.59965,0,0,1,.80859.15723A.47987.47987,0,0,1,210.6866,273.58543Z"/>
                <path class="cls-40" d="M212.93172,272.92039c.21143-.11621.42236-.2312.63477-.34521a1.00505,1.00505,0,0,0,.42285-1.45948,1.30676,1.30676,0,0,0-1.68311-.35254q-.6123.33417-1.2124.67847,1.00928,1.36781,1.94434,2.76355.27612-.15363.55127-.30554Q213.265,273.40818,212.93172,272.92039ZM211.984,271.567q.30541-.17084.61523-.339a.621.621,0,0,1,.81787.18762.4777.4777,0,0,1-.18652.72009q-.30615.16535-.60986.3335Q212.30647,272.01658,211.984,271.567Z"/>
                <path class="cls-40" d="M216.4078,268.7075q-.30543.13971-.60743.282.5669.85731,1.10743,1.72364a.66808.66808,0,0,1-.28321,1.08569.86458.86458,0,0,1-1.20117-.376q-.55078-.85455-1.13086-1.69983-.29663.14868-.58984.29993.60351.86664,1.1748,1.74316a1.50554,1.50554,0,0,0,2.03418.50147,1.162,1.162,0,0,0,.62744-1.77295Q216.98837,269.59684,216.4078,268.7075Z"/>
                <path class="cls-40" d="M218.0494,269.00779c-.19629.08472-.39258.17066-.58741.25733q.65919,1.05211,1.27784,2.11535.28636-.12432.57617-.2467Q218.703,270.06479,218.0494,269.00779Z"/>
                <path class="cls-40" d="M217.22469,268.29649a.307.307,0,0,0-.16406.453.446.446,0,0,0,.54.13965.30871.30871,0,0,0,.16259-.44983A.44127.44127,0,0,0,217.22469,268.29649Z"/>
                <path class="cls-40" d="M221.55819,270.30748a1.57424,1.57424,0,0,0,1.00488-2.24585,2.26071,2.26071,0,0,0-2.78272-.85462,1.5466,1.5466,0,0,0-.915,2.28491A2.23111,2.23111,0,0,0,221.55819,270.30748Zm-1.48829-2.6189a1.51576,1.51576,0,0,1,1.86036.60022,1.05082,1.05082,0,0,1-.63868,1.53125,1.49151,1.49151,0,0,1-1.82031-.58A1.046,1.046,0,0,1,220.0699,267.68858Z"/>
              </g>
              <g>
                <path class="cls-40" d="M208.20272,278.59227a.22381.22381,0,0,0,.23486-.01941c.08838-.06275.07275-.13086.0498-.16028-.0415-.05713-.11181-.04126-.21386-.01441-.13233.03565-.24365.05372-.33106-.0581a.216.216,0,0,1,.0752-.31348.28563.28563,0,0,1,.28027-.04c-.01465.03785-.02832.07593-.043.114a.16317.16317,0,0,0-.15869.026.09387.09387,0,0,0-.03906.12988c.0415.05713.104.03052.228.00122.15332-.03808.24414-.02661.31738.07007.07959.10706.062.23816-.09131.34741a.32225.32225,0,0,1-.35644.03272C208.17049,278.66941,208.18709,278.63084,208.20272,278.59227Z"/>
                <path class="cls-40" d="M208.30819,277.83946c.03808-.02686.07812-.05371.11621-.08045q.22632.1659.44922.3335c-.05909-.17358-.11768-.34717-.17725-.52051.03027-.02051.05957-.041.08935-.06152.15137.111.30079.22253.45118.33423q-.0879-.26-.17676-.52027c.03857-.02588.07764-.05249.11621-.07849q.1333.38635.26465.77344l-.09375.06372c-.15088-.11133-.30029-.22266-.45264-.333.05811.17456.11475.34912.17139.52381l-.0918.0636C208.75447,278.17039,208.53182,278.00438,208.30819,277.83946Z"/>
                <path class="cls-40" d="M209.276,277.17991c.03906-.02685.08105-.05371.12109-.08069q.23364.31953.46143.64161c-.03955.02661-.08057.05322-.12012.07971C209.586,277.60667,209.43074,277.39305,209.276,277.17991Z"/>
                <path class="cls-40" d="M209.92147,277.42a.22984.22984,0,0,0,.23974-.01281c.09229-.06031.07276-.126.05469-.15894-.0415-.059-.11377-.04529-.21631-.02038-.13476.0321-.2539.046-.33349-.06726a.21631.21631,0,0,1,.08545-.31116.29432.29432,0,0,1,.28515-.03235c-.0166.03735-.03125.07519-.04736.11279a.17053.17053,0,0,0-.16162.02161c-.05176.03345-.0752.09009-.04346.12878.04443.05957.104.03321.23145.00757.15527-.0332.25292-.01977.32031.07886.07812.10864.05664.241-.103.34485a.33321.33321,0,0,1-.36328.02258C209.88631,277.4962,209.90487,277.45811,209.92147,277.42Z"/>
                <path class="cls-40" d="M210.49617,277.04771a.22991.22991,0,0,0,.24073-.0105c.09423-.05969.07959-.12756.05664-.15844-.04248-.05823-.1128-.04529-.21729-.02222-.13672.03149-.25293.04468-.335-.07031a.2159.2159,0,0,1,.08887-.31043.3034.3034,0,0,1,.28711-.02991c-.01563.03748-.03223.07508-.04785.11243a.16692.16692,0,0,0-.16309.02026c-.05469.03528-.07422.088-.04492.12818.03906.0592.10449.03357.23193.00964.16113-.03308.25293-.01794.32178.08191.07666.11035.05615.24121-.10693.34375a.33613.33613,0,0,1-.36573.01965C210.46053,277.12352,210.47811,277.08567,210.49617,277.04771Z"/>
                <path class="cls-40" d="M211.45711,275.77525a.45886.45886,0,0,1,.35938-.05054c-.0127.04016-.02539.0802-.03858.12036a.31583.31583,0,0,0-.24756.03626.26231.26231,0,0,0-.0874.38354.29731.29731,0,0,0,.40527.08265.2867.2867,0,0,0,.13868-.19874c.04394.006.08789.01233.13086.01832a.41583.41583,0,0,1-.19776.287.44248.44248,0,0,1-.60058-.11316A.39038.39038,0,0,1,211.45711,275.77525Z"/>
                <path class="cls-40" d="M212.17,275.34947a.45237.45237,0,0,1,.6084.12366.39.39,0,0,1-.14893.56213.44781.44781,0,0,1-.60156-.12183A.38765.38765,0,0,1,212.17,275.34947Zm.38819.57849a.26015.26015,0,0,0,.09326-.38123.3042.3042,0,0,0-.40869-.09021.26278.26278,0,0,0-.09034.38294A.3.3,0,0,0,212.55819,275.928Z"/>
                <path class="cls-40" d="M212.68905,275.06346c.03808-.02185.07617-.04334.11328-.06519q.3457.12177.687.24658-.15015-.232-.30371-.4635l.12549-.07068q.21972.334.43505.66895l-.10546.05872q-.34718-.12781-.69678-.25208.156.23565.30859.47107c-.042.02368-.082.04736-.124.0708Q212.911,275.39505,212.68905,275.06346Z"/>
                <path class="cls-40" d="M213.68319,274.65171c-.06592.03638-.13135.073-.19727.1095-.02441-.03613-.04687-.07226-.07129-.10827q.26222-.14631.52783-.29041c.02344.03625.04688.07263.06983.109-.06543.036-.13184.07214-.19776.10827q.18165.28125.36084.563c-.04394.02381-.08593.04749-.12988.07129Q213.866,274.93266,213.68319,274.65171Z"/>
                <path class="cls-40" d="M214.22518,274.2097c.03711-.0199.07422-.04016.11181-.06006.24756.1698.4917.3407.73536.5133-.04688.0243-.09278.04871-.13965.07325-.04834-.0343-.09522-.06873-.14453-.10315-.10889.0581-.21827.116-.32618.17431.00879.05567.01661.11109.02539.16675-.04687.02478-.09179.04968-.13818.07471Q214.287,274.6295,214.22518,274.2097Zm.459.34509c-.09912-.07-.19775-.14-.29736-.20972q.02711.17048.05322.34058C214.52108,274.64183,214.60311,274.59813,214.68416,274.55479Z"/>
                <path class="cls-40" d="M214.75643,273.92735c.04541-.02332.08935-.04651.1333-.06983.14355.22584.28418.4524.4248.67908-.04492.02295-.08886.0459-.13281.069C215.04061,274.379,214.9,274.15318,214.75643,273.92735Z"/>
                <path class="cls-40" d="M215.07283,273.76243c.04-.02038.07813-.04065.11817-.06091.231.08911.46142.17969.68945.27148-.0957-.15857-.19433-.31652-.292-.47436.043-.0221.08691-.04407.13086-.066q.21167.34167.41894.68432l-.10937.05494q-.34937-.14062-.70166-.27735c.1001.16016.20068.3208.29785.48206-.04248.02209-.08545.04407-.12842.066Q215.28719,274.102,215.07283,273.76243Z"/>
                <path class="cls-40" d="M215.9034,273.34031c.16162-.0802.32178-.15979.48438-.23864.02246.037.04492.07409.06787.11145-.11573.05676-.23194.11364-.34766.17077l.09961.16333c.10742-.05371.2168-.10669.3252-.15979.02294.03736.04541.07422.06738.1117-.10889.053-.21631.106-.3252.1593.03809.06335.07617.1261.11426.18921q.17724-.08716.35449-.173c.022.03724.04444.07434.06641.11182q-.24463.11829-.48828.23926Q216.11531,273.68242,215.9034,273.34031Z"/>
                <path class="cls-40" d="M216.55184,273.02183c.09863-.048.19824-.09582.29785-.14343a.297.297,0,0,1,.38037.10107.21605.21605,0,0,1-.02344.2627q.17432.09411.34864.189c-.05176.02442-.10352.04859-.15479.07288-.10254-.05676-.20605-.11267-.30859-.16895l-.00244.001c-.04444.02148-.08936.04248-.13331.064q.07251.12285.146.24585c-.0459.02172-.09082.04345-.13672.06542Q216.76033,273.36577,216.55184,273.02183Zm.4834.19739a.11457.11457,0,0,0,.05908-.17322.13849.13849,0,0,0-.18067-.05395c-.05273.02465-.10449.05-.15673.07519.04443.0741.08838.14783.13281.2218C216.93758,273.26585,216.98738,273.24241,217.03524,273.21922Z"/>
                <path class="cls-40" d="M217.73348,272.4647c.09863-.04516.19824-.09057.29687-.1355a.30687.30687,0,0,1,.38721.113.238.238,0,0,1-.12353.34058c-.05176.02344-.10547.04687-.15723.071q.071.12213.14111.24451l-.13916.06287Q217.93807,272.81242,217.73348,272.4647Zm.48877.20789a.11589.11589,0,0,0,.05615-.16809.14646.14646,0,0,0-.188-.05933l-.15136.06848c.04394.07569.08789.15113.13232.22718C218.12166,272.718,218.17147,272.69529,218.22225,272.67259Z"/>
                <path class="cls-40" d="M218.40828,272.1594c.04785-.02087.09473-.04162.1416-.06237q.16994.29314.33594.58752c.103-.04541.20655-.09057.31153-.13586.02148.038.043.07629.064.11425-.15088.06519-.30225.13062-.45117.19715Q218.61093,272.50944,218.40828,272.1594Z"/>
                <path class="cls-40" d="M219.28133,271.77879c.04053-.01733.08057-.03442.12109-.05139q.36549.28179.72559.56824c-.05078.02075-.09961.0415-.15039.0625-.04785-.03809-.09473-.07618-.14258-.11414q-.17578.074-.35107.1488c.00439.05616.00927.11231.01367.16834-.04932.02124-.1001.04248-.14844.06384Q219.31624,272.20164,219.28133,271.77879Zm.45117.37939c-.09668-.07727-.19433-.1549-.29248-.23193q.01392.17193.0293.34351Q219.60116,272.21372,219.7325,272.15818Z"/>
                <path class="cls-40" d="M219.9908,271.62254c-.07275.03-.144.06006-.21679.09009-.02149-.03821-.043-.07654-.064-.11463.19238-.08044.38379-.16.57813-.23864.022.0382.04345.07678.06347.11523q-.10986.04413-.21728.08875c.10937.19812.21875.39636.32617.59545-.04736.01929-.09522.03907-.14307.05835Q220.1556,271.91942,219.9908,271.62254Z"/>
                <path class="cls-40" d="M220.40194,271.313q.24462-.09888.48925-.19568c.02051.03845.041.077.063.1156-.11474.04566-.23.09107-.34375.13721.03223.05957.06445.11914.09717.17883.105-.04175.2085-.08325.314-.12463.021.03869.04151.07727.062.11584-.105.04126-.2085.08277-.31348.12451q.0813.15106.16357.30286c-.04785.01892-.0957.03845-.14306.05762C220.66219,271.78746,220.53328,271.54991,220.40194,271.313Z"/>
                <path class="cls-40" d="M221.40633,270.90135a.50718.50718,0,0,1,.63037.209.37731.37731,0,0,1-.23486.53577.50634.50634,0,0,1-.62451-.20606A.37622.37622,0,0,1,221.40633,270.90135Zm.334.62817a.25164.25164,0,0,0,.15088-.3645.34315.34315,0,0,0-.42285-.14734.25622.25622,0,0,0-.14844.3667A.33851.33851,0,0,0,221.74031,271.52952Z"/>
                <path class="cls-40" d="M221.99764,270.69151q.15966-.0597.31982-.11878a.31658.31658,0,0,1,.38721.1316.20765.20765,0,0,1-.04346.26013c.11573.07226.23194.14429.34766.2168-.05566.01989-.11133.03967-.1665.05981q-.15309-.09687-.30762-.19336l-.00244.00085c-.04737.01758-.09619.03516-.14356.05286.04541.08569.08936.17139.13281.25708-.04882.01795-.09668.03577-.1455.0542Q222.1893,271.0518,221.99764,270.69151Zm.4873.23608a.11516.11516,0,0,0,.07471-.168.14859.14859,0,0,0-.18408-.0686c-.05615.02075-.11279.0415-.16846.06238.04053.07727.08057.15466.1211.23193C222.38045,270.96617,222.43319,270.94688,222.48494,270.92759Z"/>
                <path class="cls-40" d="M222.76278,270.4105c.042-.0155.085-.03015.12744-.04565.16992.10034.33984.20117.50683.302.0293-.17065.05957-.34131.08936-.51208l.12695-.04395c.12451.24316.24561.48608.36719.72974-.04688.01611-.09375.032-.14063.04834-.08154-.1648-.16552-.32959-.248-.4939q-.04395.24152-.08838.48279c-.15918-.09473-.31836-.18872-.479-.28247.08448.16357.16748.32715.251.49084l-.13965.04944C223.01326,270.89366,222.88826,270.652,222.76278,270.4105Z"/>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
