<a id="beer-button" href="javascript:void(0)"><img src="/images/beermug.png" class="beer-button"></a>

<div id="beer-dialog" class="beer-dialog">

  <p>
    <a href="javascript:void(0)" class="close"><i class="fas fa-times"></i></a>
    <div class="has-text-weight-semibold">{{ T "beerinvite" }}</div>
    <div class="has-text-weight-semibold">{{ T "beermail" }}</div>
    <div class="is-size-6">{{ T "beeralternatives" }}</div>
  </p>
  <div class="beer-form-wrapper">
    <div class="hsform-wrapper beer-button-hsform">
      <iframe width="400" height="350" style="border: none" src="https://landing.vshn.ch/appuio-contact-form"></iframe>
    </div>
  </div>
</div>
