<footer>
  <div class="gray py-6">
    <div class="container my-6">
      <div class="columns is-align-items-center">
        <div class="column is-half">
          <a href="https://www.puzzle.ch/" target="_blank" class="partner-link">
            <img src="/images/puzzle_logo.svg" alt="Puzzle ITC - Changing IT for the better" class="partner-logo" width="281" height="73" />
          </a>
        </div>
        <div class="column is-half">
          <a href="https://vshn.ch/" target="_blank" class="partner-link">
            <img src="/images/vshn_logo.svg" alt="VSHN AG - The DevOps Company" class="partner-logo" width="225" height="55" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-6">
    <div>
      <p class="has-cyan-links">
      {{ T "footertext" (dict "FooterPhone" "<a href='tel:+41445522240'>+41 44 552 22 40</a>" "FooterMail" "<a href='mailto:hello@appuio.ch'>hello@appuio.ch</a>") | safeHTML }}
      </p>

      <div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-center">
        <a class="button is-info is-outlined m-2" href="https://twitter.com/AppuIo" target="_blank">
          <i class="fab fa-twitter"></i>
          <span class="ml-1">Twitter</span>
        </a>
        <a class="button is-info is-outlined m-2" href="https://github.com/appuio" target="_blank">
          <i class="fab fa-github"></i>
          <span class="ml-1">GitHub</span>
        </a>
        <a class="button is-info is-outlined m-2" href="https://www.instagram.com/appuio" target="_blank">
          <i class="fab fa-instagram"></i>
          <span class="ml-1">Instagram</span>
        </a>
        <a class="button is-info is-outlined m-2" href="https://www.facebook.com/appuio.ch" target="_blank">
          <i class="fab fa-facebook-f"></i>
          <span class="ml-1">Facebook</span>
        </a>
        <a class="button is-info is-outlined m-2" href="https://www.youtube.com/channel/UCaunplDXgF5NXWwsM4K2mNA" target="_blank">
          <i class="fab fa-youtube"></i>
          <span class="ml-1">Youtube</span>
        </a>
      </div>

      <div class="container">
        <p class="is-size-6 mt-4 mb-1">{{T "footer_newsletter"}}</p>
        <div class="hsform-wrapper newsletter-hsform mw-400">
          <script>var formId = "810cabb9-b3b1-4e68-9d56-12c628ccc1f7";</script>
          {{ if eq .Page.Language.Lang "de" }}
            <script>formId = "994a1d86-f457-4c0e-a007-2c5d10bdc176";</script>
          {{ end }}

          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              region: "na1",
              portalId: "7105834",
              formId: formId
            });
          </script>
        </div>
      </div>

    </div>


    <p class="is-size-7 pt-6">
      Designed with
      <span class="px-1">
        <i class="far fa-heart is-size-6"></i>
      </span>
      by <a href="http://www.wearecube.ch/">We Are Cube.<sup>3</sup></a>
    </p>
    <div class="pt-5 is-size-7">
      <a href="{{ ref . "/impressum-datenschutz" }}">Impressum & Datenschutz</a>
    </div>
    <div class="mt-4">
      <a class="button is-outlined is-small" href="https://console.appuio.ch" target="_blank">
        Log in
      </a>
    </div>
  </div>
</footer>

{{ $all := resources.Get "js/all.js" }}
{{ $jquery := resources.Get "js/jquery.js" }}
{{ $animations := resources.Get "js/animations.js" }}
{{ $cookies := resources.Get "js/cookies.js" }}
{{ $navbar := resources.Get "js/navbar.js" }}
{{ $faq := resources.Get "js/faq.js" }}
{{ $formswitcher := resources.Get "js/form-switcher.js" }}
{{ $tweenmax := resources.Get "js/TweenMax.js" }}
{{ $team := resources.Get "js/team.js" }}
{{ $js := slice $team $tweenmax $formswitcher $faq $navbar $cookies $animations $jquery $all | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.10.2/lottie.min.js" type="text/javascript"></script>
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
