<footer>
  <div class="gray py-6">
    <div class="container my-6">
      <div class="columns is-align-items-center">
        <div class="column is-half">
          <a href="https://www.puzzle.ch/" target="_blank" class="partner-link">
            <img src="/images/puzzle_logo.svg" alt="Puzzle ITC - Changing IT for the better" class="partner-logo" width="281" height="73" />
          </a>
        </div>
        <div class="column is-half">
          <a href="https://vshn.ch/" target="_blank" class="partner-link">
            <img src="/images/vshn_logo.svg" alt="VSHN AG - The DevOps Company" class="partner-logo" width="225" height="55" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-6">
    <div>
      <p>
      {{ T "footertext" }}
      </p>
      <p class="pt-4">
        <a href="https://twitter.com/AppuIo" target="_blank">
            <span class="icon has-text-info">
            <i class="fa fa-twitter"></i>
            </span>
            <span>Follow us on Twitter</span>
        </a>
      </p>
      <p class="pt-4">
        <a href="https://github.com/appuio" target="_blank">
            <span class="icon has-text-info">
            <i class="fa fa-github"></i>
            </span>
            <span>Visit us on GitHub</span>
        </a>
      </p>
       <p class="pt-4">
        <a href="https://www.instagram.com/appuio" target="_blank">
            <span class="icon has-text-info">
            <i class="fa fa-instagram"></i>
            </span>
            <span>Follow us on Instagram</span>
        </a>
      </p>
      <p class="pt-4">
        <a href="https://www.facebook.com/appuio.ch" target="_blank">
            <span class="icon has-text-info">
            <i class="fa fa-facebook"></i>
            </span>
            <span>Like us on Facebook</span>
        </a>
      </p>
      <p class="pt-4">
        <a href="https://www.youtube.com/channel/UCaunplDXgF5NXWwsM4K2mNA" target="_blank">
            <span class="icon has-text-info">
            <i class="fa fa-youtube"></i>
            </span>
            <span>Subscribe us on Youtube</span>
        </a>
      </p>
    </div>
    <p class="is-size-7 pt-6">
      Designed with
      <span class="px-1">
        <i class="far fa-heart is-size-6"></i>
      </span>
      by <a href="http://www.wearecube.ch/">We Are Cube.<sup>3</sup></a>
    </p>
    <div class="pt-5 is-size-7">
      <a href="{{ ref . "/impressum-datenschutz" }}">Impressum & Datenschutz</a>
    </div>
  </div>
</footer>

{{ $all := resources.Get "js/all.js" }}
{{ $jquery := resources.Get "js/jquery.js" }}
{{ $animations := resources.Get "js/animations.js" }}
{{ $cookies := resources.Get "js/cookies.js" }}
{{ $navbar := resources.Get "js/navbar.js" }}
{{ $faq := resources.Get "js/faq.js" }}
{{ $formswitcher := resources.Get "js/form-switcher.js" }}
{{ $tweenmax := resources.Get "js/TweenMax.js" }}
{{ $pricecalc := resources.Get "js/price-calculator.min.js" }}
{{ $pricecalcfix := resources.Get "js/price-calculator-fix.js" }}
{{ $team := resources.Get "js/team.js" }}
{{ $js := slice $team $pricecalc $pricecalcfix $tweenmax $formswitcher $faq $navbar $cookies $animations $jquery $all | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js" type="text/javascript"></script>
<script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
