@charset "utf-8";
@import "normalize";
@import "susy";
@import "breakpoint";

/*
 *= require evil-icons
 */

// Settings
// ----------------------------------------------
// Set default variables
// ----------------------------------------------

$base-font: 16px !default;

$susy: (
  container: auto,
  container-position: center,
  columns: 12,
  gutters: 20/60,
  column-width: 60px
);

// Breakpoints (size, columns or columns number)
$break-small: 20em, 4;
$break-medium: 40em, 8;
$break-large: 60em, 12;
$nav-break-extended: 1050px;
$nav-break-collapse: 60em;
$break-offer-intro: 75em;
$break-xlarge: 90em, 12;

$color-blue: #002F47;
$color-lightblue: #00AEC1;
$color-yellow: #FFD301;
$color-grey: #E5EAED;
$color-darkgrey: #99ABB5;

$color-greyblue: #7092a6;
$color-orange: #ff931e;
$color-green: #929031;

$color-success: #C2D64C;

$color-first: lighten($color-blue, 0%);
$color-second: lighten($color-blue, 8%);
$color-third: lighten($color-blue, 15%);

// Base
// ----------------------------------------------
// Base rules are the defaults. They are almost exclusively single element selectors but
// it could include attribute selectors, pseudo-class selectors, child selectors or sibling
// selectors. Essentially, a base style says that wherever this element is on the page.
// ----------------------------------------------
@import 'base/function';
@import 'base/common';
@import 'base/typography';
@import 'base/input';


// Module
// ----------------------------------------------
// Modules are the reusable, modular parts of our design. They are the callouts, the buttons,
// the products and so on. (Micro elements)
//
// /* Example module: Product */
// .product { }
//
// /* Product list */
// .product-list { }
//
// /* Product name */
// .product-name { }
// ----------------------------------------------
@import 'module/badge';
@import 'module/button';
@import 'module/callout';
@import 'module/feature';
@import 'module/technology';
@import 'module/icon';
@import 'module/interest';
@import 'module/nav';
@import 'module/news';
@import 'module/partner';
@import 'module/ribbon';
@import 'module/package';
@import 'module/openshifticons';
@import 'module/advantages';
@import 'module/event';

@import 'module/owlCarousel/owl.carousel.scss';
@import 'module/owlCarousel/owl.theme.default.scss';



// Layout
// ----------------------------------------------
// Layout rules divide the page into sections. Layouts hold one or more modules together. (Macro)
//
// /* Example layout: Header */
// .header-container { }
// ----------------------------------------------
@import 'layout/form';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/home';
@import 'layout/offers';
@import 'layout/faq';
@import 'layout/news';
@import 'layout/offer-managed';
@import 'layout/team';

// Page
// ----------------------------------------------
// Styles for specific pages.
//
// /* Example layout: Home */
// .home h1,
// .home .h1 { }
// ----------------------------------------------
// @import 'layout/home';
// @import 'layout/contact';


// State
// ----------------------------------------------
// State rules are ways to describe how our modules or layouts will look when in a particular
// state. Is it hidden or expanded? Is it active or inactive? They are about describing how a
// module or layout looks on screens that are smaller or bigger. They are also about
// describing how a module might look in different views like the home page or the inside page.
//
// /* Example state: Collapsed Product */
// .product.is-collapsed { }
// ----------------------------------------------
.is-hidden {
  position: absolute;
  visibility: hidden;
  height: 0;
  width: 0;
}
.is-relative {
  position: relative;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

// Boostrap helpers
.m-t-1 {
  margin-top: rem-calc(16)!important;
}
.m-t-2 {
  margin-top: rem-calc(32)!important;
}
.m-t-3 {
  margin-top: rem-calc(48)!important;
}
// Not needed at the moment
// ----------------------------------------------
//.is-important {
//  border:3px solid white;
//  //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
//  //more of that
//  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
//}
