<div class="hsform-wrapper mw-400">
  {{ if eq .Page.Language.Lang "de" }}
  <!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      region: "na1",
      portalId: "7105834",
      formId: "9402c2db-e8a3-4157-bc63-1ffd7fddaa69"
    });
  </script>
  {{ else }}
  <!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
      region: "na1",
      portalId: "7105834",
      formId: "01da5f09-5f41-447b-9b13-f8ad88626da6"
    });
  </script>
  {{ end }}
</div>