<div class="hsform-wrapper mw-400">
{{ if eq .Page.Language.Lang "de" }}
  <!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
  <script>
  hbspt.forms.create({
  portalId: "7105834",
  formId: "b71a399d-1c8f-4075-8bdb-6b22d487e62b"
  });
  </script>
{{ else }}
  <!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
  <script>
  hbspt.forms.create({
  portalId: "7105834",
  formId: "85e6c873-bdfd-4671-837e-12e4efaaa5be"
  });
  </script>
{{ end }}
</div>