<div class="form-switcher mw-400" data-visible="shared">
  <div class="has-text-left mb-2">
    <label>{{ T "interested_in" }}</label>
  </div>
  <div class="buttons has-addons appuio-selector-buttons">
    <button class="button shared" href="javascript:void(0)" data-show="shared">
      APPUiO Public Shared
    </button>
    <button class="button dedicated" href="javascript:void(0)" data-show="dedicated">
      APPUiO Public Dedicated
    </button>
  </div>

<div class="hsform-wrapper mw-400">
<div class="form-content shared">

  {{ if eq .Page.Language.Lang "de" }}
  <!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
  <script>
  hbspt.forms.create({
  portalId: "7105834",
  formId: "746e7426-a211-47af-a4c9-1eb8cb2bf9bc"
  });
  </script>
  <div class="is-size-6 pt-2">Abrechnungsperiode ist einmal pro Monat</div>

  {{ else }}
  <!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
  <script>
  hbspt.forms.create({
  portalId: "7105834",
  formId: "aa36771b-d142-40ff-b88e-9e29b84cc405"
  });
  </script>
  <div class="is-size-6 pt-2">Monthly billing cycle</div>
{{ end }}
</div>

<div class="form-content dedicated">

  {{ if eq .Page.Language.Lang "de" }}
  <!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
  <script>
  hbspt.forms.create({
  portalId: "7105834",
  formId: "c28cc482-68fd-43f1-b751-a8d77d0e4158"
  });
  </script>
  <div class="is-size-6 pt-2">Abrechnungsperiode ist einmal pro Monat</div>

  {{ else }}
  <!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
  <script>
  hbspt.forms.create({
  portalId: "7105834",
  formId: "c2f645e9-59dc-4b33-95ed-f5ab51919e12"
  });
  </script>

  <div class="is-size-6 pt-2">Monthly billing cycle</div>
  {{ end }}
</div>

  </div>
</div>