<a id="beer-button" href=""><img src="/images/beermug.png" class="beer-button"></a>

<div id="beer-dialog" class="beer-dialog">

  <p>
    <%= t(:beerInvite) %>
    <br>
    <%= t(:beerMail) %><br>
    <small>
      <%= t(:beerAlternatives) %>
    </small>
  </p>
  <div class="beer-form-wrapper">
    <form id="emailForm" class="beer-form" action="/beer-button.php">
      <div class="beer-form-input-wrapper">
        <input name="emailInput" id="emailInput" class="beer-form-mail" type="email" placeholder="<%= t(:beerMailPlaceholders) %>"/>
      </div>
      <div>
        <input type="submit" id="submitEmail" value="" class="beer-form-submit"/>
      </div>
    </form>
  </div>
</div>
