<a id="beer-button" href=""><img src="images/beermug.png" class="beer-button"></a>

<div id="beer-dialog" class="beer-dialog">

  <p>Du interessierst dich für Appuio? Komm und trink ein Bier mit uns. <br> Sag uns deine Mailadresse und wir melden
    uns bei dir.
    <small>
      (Wir haben auch andere Getränke)
    </small>
  </p>
  <div class="beer-form">
    <input class="beer-form-mail" type="email" placeholder="Deine Email">
    <input type="submit" value="" class="beer-form-submit">
  </div>
</div>
