<section class="offer-two">
  <div class="grid-container">
    <h2 class="offers-title"><%= t(:offerTwoTitle) %></h2>
    <p class="offers-intro"><%= t(:offerTwoIntro) %></p>

    <div class="offers-container">
      <article class="offers-item is-turkislight">Auf Ihre Bedürfnisse zugeschnittene Bundles</article>
      <article class="offers-item is-turkislight">Von Entwicklern für Entwickler: Forum, Dokumentation und Community </article>
      <article class="offers-item is-turkislight">Wir kümmern uns um Backup, Monitoring, Updates und Support</article>
    </div>

    <p class="offers-services-desc"><%= t(:offerTwoServicesDesc) %></p>

    <!-- <h3 class="offers-package-title">Wählen Sie das für Ihre Bedürfnisse passende Paket:</h3> -->

    <div class="offers-package-container">
      <article class="offers-package is-fourth">
        <h3 class="offers-package-list-title">Micro</h3>
        <ul class="offers-package-list">
          <li class="offers-package-item">HF 49.00 / Monat</li>
          <li class="offers-package-item">CPU 500m</li>
          <li class="offers-package-item">Memory 512Mi</li>
          <li class="offers-package-item">Persistent Volume inkl. 5 GB</li>
        </ul>
      </article>
      <article class="offers-package is-fourth">
        <h3 class="offers-package-list-title">Medium</h3>
        <ul class="offers-package-list">
          <li class="offers-package-item">CHF 95.00 / Monat</li>
          <li class="offers-package-item">CPU 750m</li>
          <li class="offers-package-item">Memory 1GBi</li>
          <li class="offers-package-item">Persistent Volume inkl. 10 GB</li>
        </ul>
      </article>
      <article class="offers-package is-fourth">
        <h3 class="offers-package-list-title">Large</h3>
        <ul class="offers-package-list">
          <li class="offers-package-item">CHF 189.00 / Monat</li>
          <li class="offers-package-item">CPU1000m</li>
          <li class="offers-package-item">Memory 2GBi</li>
          <li class="offers-package-item">Persistent Volume inkl. 20 GB</li>
        </ul>
      </article>
      <article class="offers-package is-fourth">
        <h3 class="offers-package-list-title">X-Large</h3>
        <ul class="offers-package-list">
          <li class="offers-package-item">CHF 379.00 / Monat</li>
          <li class="offers-package-item">CPU2000m</li>
          <li class="offers-package-item">Memory 4GBi</li>
          <li class="offers-package-item">Persistent Volume 50 GB</li>
        </ul>
      </article>
      <article class="offers-package has">
        <h3 class="offers-package-list-title">Custom</h3>
        <p class="offers-package-pretext">Auf Anfrage</p>
      </article>
    </div>

    <h3 class="offers-title">Promotion</h3>
    <p class="offers-desc">
      Startup promotion for August 2016 ff.
    </p>
    <p class="offers-desc">
      3 months for free if signing a 1 year contract. 6 months for free if signing a 1 year contract AND attending one ore more TechLabs.
    </p>

    <h3 class="offers-title">Persistent Storage Add Ons</h3>
    <div class="offers-container">
      <div class="offers-bulletpoints">
        <ul>
          <li>10 GB CHF 6.70</li>
          <li>20 GB CHF 10.00</li>
          <li>50 GB CHF 19.00</li>
          <li>100 GB CHF 25.00</li>
        </ul>
      </div>
    </div>
  </div>

</section>
