<div class="grid-container">
  <div id="fullpage">
    <div class="section" id="section1">
      <div class="slide" id="slide1" data-anchor="slide1">
        <div class="intro">
          <h1>Clickable</h1>
          <p>You can even click on the navigation and jump directly to another section.</p>
        </div>
      </div>
      <div class="slide" id="slide2" data-anchor="slide2">
        <h1>Offer 2</h1>
      </div>
      <div class="slide" id="slide3" data-anchor="slide3">
        <h1>Offer 3</h1>
      </div>
    </div>
  </div>
</div>
