<div class="owl-carousel techlabs-feedback-carousel owl-theme owl-carousel-techlab">
  <div class="item">
    <h4><%= t(:techlabFeedback1) %></h4>
    <h5><%= t(:techlabFeedbackAuthor1) %></h5>
  </div>
</div>
