{{- $indexParams := .Page.Params -}}
<div class="columns">
  {{- range where .Site.Pages "Section" "==" "offering" -}}
    {{- $card := .Resources.GetMatch "images/card.svg" -}}
    {{- if $card -}}
      <div class="column has-text-centered">
        <div class="card">
          <div class="card-content">
            <img src="{{ $card.RelPermalink }}" alt="{{ .Title }}" />
            <h2 class="subtitle"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <p>{{ .Params.description }}</p>
          </div>
          <div class="card-footer">
            <p class="card-footer-item">
              <a href="{{ .RelPermalink }}" class="button is-rounded is-primary is-fullwidth">{{ $indexParams.offerButton }}</a>
            </p>
          </div>
        </div>
      </div>
    {{- end -}}
  {{- end -}}
</div>
