---
title: APPUiO - Swiss Enterprise PaaS - FAQ
---
<!-- <a href="https://github.com/appuio/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a> -->
<!-- <a class="github-fork-ribbon" href="https://github.com/appuio/" title="Fork me on GitHub">Fork me on GitHub</a> -->
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
  <section class="home-hero">
    <div class="grid-container">
      <h2>FAQ's</h2>
        <!-- <ul> -->
          <% data.faq.each do |f| %>
            <h3><%= f["question"] %></h3>
            <p><%= f["answer"] %></p>
          <% end %>
        <!-- </ul> -->
    </div>
  </section>
</main>

<%= partial "partials/footer" %>
