<div class="grid-container">
  <div id="fullpage">
    <div class="section" id="section1">
      <div class="slide" data-anchor="slide1"> Produkt 1 </div>
      <div class="slide" data-anchor="slide2"> Produkt 2 </div>
      <div class="slide" data-anchor="slide3"> Produkt 3 </div>
    </div>
    <div class="section" id="section2">
      <p>
        Section ohne Slide (Kontakt-Formular)
      </p>
    </div>
  </div>
</div>
<%= partial "partials/footer" %>
