---
title: APPUiO - Swiss Container Platform - Partner
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
<!--  <section class="offer-two-contents">-->
<!--    <div class="grid-container offer-two-partner">-->
<!--      <h2><%#= t(:aboutIaasTitle) %></h2>-->
<!--      <h3><%#= t(:aboutPlatTitle) %></h3>-->
      <%#= partial "partials/partners/aboutplatinum" %>
<!--    </div>-->
<!--    <div class="grid-container offer-two-partner">-->
<!--      <h3><%#= t(:aboutGoldTitle) %></h3>-->
      <%#= partial "partials/partners/aboutgold" %>
<!--    </div>-->
<!--    <div class="grid-container offer-two-partner">-->
<!--      <h3><%#= t(:aboutSilvTitle) %></h3>-->
      <%#= partial "partials/partners/aboutsilver" %>
<!--    </div>-->
<!--  </section>-->
<!--  <section class="offer-two-contents blue-section">-->
<!--    <div class="grid-container offer-two-partner">-->
<!--      <h2><%#= t(:aboutDevTitle) %></h2>-->
      <%#= partial "partials/partners/aboutdev" %>
<!--    </div>-->
<!--  </section>-->
</main>
