{{ define "beerbutton" }}
  {{ partial "beerbutton" . }}
{{ end }}
{{ define "main" }}
  {{ $headless := .Site.GetPage "/homepage" }}
  {{ partial "check-must-close-shortcodes" (dict "context" . "rawcontent" $headless.RawContent "path" $headless.Path )}}

  <section class="home-hero has-text-centered">

    <div class="home-hero-illus">
      {{ $header := $headless.Resources.GetMatch "images/header.svg" }}
      {{ if $header }}
        {{ $header.Content | safeHTML }}
      {{ end }}

      {{ $logo := resources.Get "appuio_logo.svg" }}
      <img src="{{ $logo.RelPermalink }}" alt=":homeHeroAlt" class="home-hero-logo" />
    </div>
    <div class="container">
      <!-- <h1 class="subtitle has-text-white is-3">{{ $headless.Title }}</h1> -->
      <h1 class="subtitle  is-3 dark-title">{{ $headless.Title }}</h1>

      <!--
        <p>
          <a href="https://register.appuio.ch" target="_blank" class="is-block is-yellow pt-3">{{ $headless.Params.heroRegister }}</a>
        </p>
      -->
    </div>
  </section>
  {{ $headless.Content }}
{{ end }}
