/*doc
---
title: Forms
name: forms
category: Layout
---

The HTML fieldset element is used to group several controls as well as labels (label) within a web form.

```html_example
<form action="" method="" class="form-container">
  <fieldset>
    <legend>Login</legend>
    <label for="email">Email</label> <input id="email" name="email" type="email" placeholder="type your email here">
    <label for="password">Password</label> <input id="password" name="password" type="password" placeholder="type your password here">
    <input id="check" type="checkbox" name="check"> <label for="check">I'm ok</label>
  </fieldset>
</form>
```
*/

// Fieldset
// ----------------------------------------------
.form-container fieldset {

}