/*doc
---
title: Header
name: header
category: Layout
---

```html_example
<header class="header-container" role="banner">
  The header's content gets here
</header>
```
*/

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #00AEC1;
  z-index: 10;
  box-shadow: 0px 1px 5px 3px rgba(66, 66, 66, 0.1);

  & + * {
    margin-top: rem-calc(50);
    @include susy-breakpoint($nav-break-collapse) {
      margin-top: rem-calc(72);
    }
  }
}
.header-logo {
  visibility: hidden;
  display: none;
  @include susy-breakpoint($break-large) {
    position: relative;
    float: left;
    visibility: visible;
    display: block;
    top: 15px;
    margin-right: 10px;
  }
  & img {
    height: 50px;

  }
}

#cookies_banner_alert {
  box-sizing: border-box;
  display: inline-block;
  position: fixed;
  z-index: 9;
  width: 100%;
  left: 0;
  top: 50px !important;
  padding: 1em 0;
  @include susy-breakpoint($break-large) {
    top: 87px !important;
    padding: 0;
  }
  top: 0;
  background: #0e2f47;
  font-family: Arial, sans-serif;
  font-size: inherit;
  font-weight: normal;
  color: #fff;
  text-align: center;
}
