/*doc
---
title: Header
name: header
category: Layout
---

```html_example
<header class="header-container" role="banner">
  The header's content gets here
</header>
```
*/

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #00AEC1;
  z-index: 10;
  box-shadow: 0px 1px 5px 3px rgba(66, 66, 66, 0.1);

  & + * {
    margin-top: rem-calc(50);
    @include susy-breakpoint($break-medium) {
      margin-top: rem-calc(75);
    }
  }
}
.header-logo {
  visibility: hidden;
  display: none;
  @include susy-breakpoint($break-large) {
    position: relative;
    float: left;
    visibility: visible;
    display: block;
    top: 15px;
    margin-right: 10px;
  }
  & img {
    height: 50px;

  }
}
