// Hero
// ----------------------------------------------
.home-hero {
  position: relative;
  background-color: #002F47;
  color: white;
  text-align: center;
  padding-bottom: rem-calc(100);
  overflow:hidden;

  & a:hover {
    color:$color-lightblue;
  }
}
.home-hero-illus {
  height: 62vw;
  background-image: url('/images/landscape.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  @include susy-breakpoint($break-medium) {
    height: 53vw;
  }
  @include susy-breakpoint($break-large) {
    height: 50vw;
  }
}
.home-hero-cta {
  clear: both;
  padding: rem-calc(24);
}
.home-hero-logo {
  display: none;
  width: 370px;
  max-width: 60%;
  @include susy-breakpoint($break-medium) {
    max-width: none;
  }
}
.home-hero-title {
  font-size: rem-calc(36);
  line-height: rem-calc(44);
  @include susy-breakpoint($break-medium) {
    @include span(10 of 12);
    @include squish(1, 1);
  }
}
.home-hero-tech {
  margin: rem-calc(20) auto;
  @include susy-breakpoint($break-medium) {
    margin: rem-calc(60) auto;
  }
}

// News
// ----------------------------------------------
.home-news {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

// Offer
// ----------------------------------------------
.home-offer {
  background-color: #15B0BF;
  background-repeat: no-repeat;
  background-position: top right;
  padding: rem-calc(100 0);
  color: white;
  text-align: center;
}
.home-offer-desc {
  @include susy-breakpoint($break-medium) {
    @include span(10 of 12);
    @include squish(1, 1);
  }
}

// Advantages
// ----------------------------------------------
.home-advantages {
  background-color: #15B0BF;
  background-image: url('/images/clouds.svg');
  background-repeat: no-repeat;
  background-position: top right;
  padding: rem-calc(200 0 100);
  color: white;
  text-align: center;

  overflow: hidden;

  .callout-item {
    background-color: transparent;
    .callout-title {
      min-height: 0;
      margin-bottom: 0px;
    }
  }

}
.home-advantages-desc {
  @include susy-breakpoint($break-medium) {
    @include span(10 of 12);
    @include squish(1, 1);
  }
}

// Features
// ----------------------------------------------
.home-features {
  padding: rem-calc(100 0);
  text-align: center;
}
.home-features-desc {
  @include susy-breakpoint($break-medium) {
    @include span(10 of 12);
    @include squish(1, 1);
  }
}

// Clients
// ----------------------------------------------
.home-clients {
  text-align: center;
  padding: 6.25rem 0;
  .callout-item {
    background-color: transparent;
    .callout-title {
      min-height: auto;
      margin-bottom: 0px;
      color: $color-blue;
      overflow: visible;
    }
    .callout-desc {
      min-height: auto;
    }
  }

  .clientlogo-group {
    margin-top: rem-calc(10);
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;

  .clientlogo-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: rem-calc(60);
    box-sizing: border-box;
    margin: rem-calc(20) rem-calc(40);
    img {
      width: 100%;
      height: auto;
    }
    }
  }
}


// Technologies
// ----------------------------------------------
.home-technologies {
  padding: rem-calc(100 0);
  background-color: #15B0BF;
  color: white;
  text-align: center;
}

// Contact
// ----------------------------------------------
.home-contact {
  background: #002F47;
  background-image: url('/images/icons.svg');
  background-repeat: repeat;
  background-position: center center;
  padding: rem-calc(100 0);
  color: white;
  text-align: center;
}
.home-contact-desc {
  @include susy-breakpoint($break-medium) {
    @include span(10 of 12);
    @include squish(1, 1);
  }
}
.home-contact-container {
  clear: both;
  @include susy-breakpoint($break-medium) {
    padding-top: rem-calc(50);

  }
}
.home-contact-interest {
  @include susy-breakpoint($break-medium) {
    @include span(6 of 12);
    margin-bottom: rem-calc(25);
  }
}
.home-contact-form {
  margin-top: rem-calc(25);
  @include susy-breakpoint($break-medium) {
    @include span(6 last of 12);
    margin-top: rem-calc(50);
    margin-bottom: rem-calc(25);
  }
}

// Contact
// ----------------------------------------------
.home-footer-partner {
  background: #E5EAED;
  padding: rem-calc(50 0);
}
.home-footer-copy {
  padding: rem-calc(25 0);
  text-align: center;
  line-height: rem-calc(24);
  a {
    color: #4A4A4A;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}
.home-footer-tel {
  margin: 2rem 1rem 1rem 1rem;
  font-size: 1.125rem;
  color: #4A4A4A;
}
.home-footer-twitter {
  font-size: rem-calc(18);
  margin-left: rem-calc(-20);
  .icon {
    color: #5D9EC9;
    transform: translateY(rem-calc(15));
  }
}
.home-footer-wac {
  color: #4A4A4A;
  margin-top: rem-calc(28);
  font-size: rem-calc(12);
  .icon {
    transform: translateY(rem-calc(5));
  }
}


// Table
// ----------------------------------------------

.home-table-usps {
  width: 100%;
  flex: 1 auto;
  justify-content: space-around;
  display: flex;
  flex-flow: row wrap;

  ul {
    padding: 10px;
    text-align: left;
    width: 50%;
    word-wrap:break-word;
  }


}
