.advantage-dot {
  height: 124px;
  width: 124px;
  border-radius: 50%;
  background: #002F47;
  align-self: center;
}

.advantage-image {
  width: 96px;
  height: 100%;
}

.bottom-offset {
  padding-bottom: 23%;
}

.included-services-intro-text {
  text-align: center;
}