// Section Styling
// ----------------------------------------------
.offer-one,
.offer-two,
.offer-three,
.offer-one-intro,
.offer-one-services,
.offer-one-offers,
.offer-two-services,
.offer-three-services  {
  padding: rem-calc(60 0);
  text-align: center;
}

.offer-one {
  border-bottom: 32px solid $color-greyblue;
}
.offer-two {
  border-bottom: 32px solid $color-orange;
}
.offer-three {
  border-bottom: 32px solid $color-green;
}

.offer-one-intro,
.offer-two-intro,
.offer-three-intro {
  color: white;
  background-color: $color-blue;
}

.offer-one-services {
  background-color: white;
}
.offer-one-offers {
  background-color: $color-lightblue;
  color: white;
}
.offer-two-offers {
  background-color: $color-lightblue;
  color: white;
  padding: rem-calc(60 0);
}

.offer-contact {
  background-color: $color-blue;
  background-image: url('/images/icons.svg');
  background-repeat: repeat;
  background-position: center center;
  text-align: center;
  color: white;
  padding: rem-calc(60 0);
}

// Content Styling
// ----------------------------------------------

.offers-title {
  position: relative;
  z-index: 9;
  padding-top: rem-calc(128);
}
.offers-image {
  position: absolute;
}

.offer-one-intro .offers-image {
  margin-top: rem-calc(-32);
}

.offer-two-intro .offers-image {
  margin-left: 10%;
  }
.offer-three-intro .offers-image {
  margin-left: 15%;
  }

.offers-intro {
  font-size: rem-calc(36);
  line-height: rem-calc(44);
  @include susy-breakpoint($break-medium) {
    @include span(10 of 12);
    @include squish(1, 1);
  }
}
.offers-desc,
.offers-package-desc {
  @include susy-breakpoint($break-medium) {
    @include span(8 of 12);
    @include squish(2, 2);
  }
}

.offers-bulletpoints {
  clear: both;
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  padding-top: rem-calc(16);
  padding-bottom: rem-calc(16);
}

.flex-item {
  flex: 1 auto;
  width: 100%;
  justify-content: space-around;
  display: flex;

  @include susy-breakpoint($break-large) {
    width: 50%;
  }

}
.offers-bulletpoints > .flex-item > ul {
  & > li {
    line-height: rem-calc(24);
    margin-bottom: rem-calc(8);
    text-align: left; // Unordered List with bulletpoints
    font-size: rem-calc(18);
  }
}

.offer-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  clear: both;

  @include susy-breakpoint($break-medium) {
  }
}

.offer-item {
  flex: 1 auto;
  width: 100%;
  text-align: center;
  margin: rem-calc(20 0);
  padding: rem-calc(0 16);
  color: black;
  @include susy-breakpoint($break-medium) {
    margin: rem-calc(60 0);
  }
  &.is-third {
    width: 100%;

    @include susy-breakpoint($break-medium) {
      width: 25%;
    }
  }
  &.has-white-font {
    color: white;
  }
}

.offer-two-contact-form {
  margin-top: rem-calc(25);
  float: right;
  margin-right: 0;
  // flex: 2 100%;
  @include susy-breakpoint($break-medium) {
    @include span(6 of 12);
    margin-top: rem-calc(50);
    margin-bottom: rem-calc(25);
  //   padding-left: rem-calc(15);
  //   flex: 1 50%;
  }
}
.offer-three-contact-form {
  margin-top: rem-calc(25);
  // flex: 2 100%;
  @include susy-breakpoint($break-medium) {
    @include span(12 of 12);
    margin-top: rem-calc(50);
    margin-bottom: rem-calc(25);
  //   padding-left: rem-calc(15);
  //   flex: 1 50%;
  }
}

.offer-three-terms {
  display: block;
  position: relative;
  margin: 0 auto;
  clear: both;
  padding: rem-calc(16 0);
  display: flex;
  justify-content: center;
  @include susy-breakpoint($break-medium) {
    @include span(6 last of 12);
    @include squish(3, 3);
  }

  & > a {
    font-size: rem-calc(16);
    line-height: rem-calc(32);

    &:hover {
      color: $color-lightblue;
    }
  }
}
.offers-package-ribbon {
  background-color: $color-greyblue;
  padding: rem-calc(16);
  margin: rem-calc(-16);
  line-height: rem-calc(2);
  color: black;
  flex: 1 100%;
}
.is-orange {
  background-color: $color-orange;
}
.is-green {
  background-color: $color-green;
}
.offer1-small-icon {
  background: $color-blue url('/images/offer1_small.svg') no-repeat;
  background-size: 100%;
}
.offer1-medium-icon {
  background: $color-blue url('/images/offer1_medium.svg') no-repeat;
  background-size: 100%;
}
.offer1-large-icon {
  background: $color-blue url('/images/offer1_large.svg') no-repeat;
  background-size: 100%;
}
.offer2-micro-icon {
  background: $color-blue url('/images/offer2_micro.svg') no-repeat;
  background-size: 100%;
}
.offer2-medium-icon {
  background: $color-blue url('/images/offer2_medium.svg') no-repeat;
  background-size: 100%;
}
.offer2-large-icon {
  background: $color-blue url('/images/offer2_large.svg') no-repeat;
  background-size: 100%;
}
.offer2-xlarge-icon {
  background: $color-blue url('/images/offer2_xlarge.svg') no-repeat;
  background-size: 100%;
}

.offer-spacer {
  flex: 1 100%;
  //min-height: rem-calc(18);
  @include susy-breakpoint($break-small) {
    //height: rem-calc(240);
    height: rem-calc(160); // 8rem: better on mobile
  }
  @include susy-breakpoint($break-medium) {
    height: rem-calc(96);
  }
  @include susy-breakpoint($break-large) {
    height: rem-calc(160);
  }
  &.is-fourth {
    height: rem-calc(416);
    @include susy-breakpoint($break-small) {
      //height: rem-calc(416); // 26rem
      height: rem-calc(256); // 16rem: better on mobile
    }
    @include susy-breakpoint($break-medium) {
      height: rem-calc(288); // 18rem
    }
    @include susy-breakpoint($break-large) {
      height: rem-calc(160); // 10rem
    }
  }
}

.contract-duration {
  margin-top: 4  0px;
}
