// Section Styling
// ----------------------------------------------
.offer-one,
.offer-two,
.offer-three,
.offer-one-intro,
.offer-one-services,
.offer-one-offers  {
  padding: rem-calc(60 0);
  text-align: center;
}

.offer-one-intro,
.offer-two-intro,
.offer-three-intro {
  background-color: $color-blue;
  color: white;
}
.offer-one-services {
  background-color: white;
}
.offer-one-offers {
  background-color: $color-lightblue;
  color: white;
}
.offer-two-offers {
  background-color: $color-lightblue;
  color: white;
  padding: rem-calc(60 0);
}

.offer-contact {
  background-color: $color-blue;
  background-image: url('/images/icons.svg');
  background-repeat: repeat;
  background-position: center center;
  text-align: center;
  color: white;
  padding: rem-calc(60 0);
}

// Content Styling
// ----------------------------------------------

.offers-intro {
  font-size: rem-calc(36);
  line-height: rem-calc(44);
  @include susy-breakpoint($break-medium) {
    @include span(10 of 12);
    @include squish(1, 1);
  }
}
.offers-desc,
.offers-package-desc {
  @include susy-breakpoint($break-medium) {
    @include span(8 of 12);
    @include squish(2, 2);
  }
}

.offers-bulletpoints {
  clear: both;
  display: flex;
  justify-content: center;
  @include squish(1,1);
  flex-direction: column;
  padding-top: rem-calc(16);
  padding-bottom: rem-calc(16);

  @include susy-breakpoint($break-medium) {
    flex-flow: row wrap;
  }
}
.flex-item {
  flex: 1 50%;
}
.offers-bulletpoints > ul {
  & > li {
    line-height: rem-calc(24);
    text-align: left; // Unordered List with bulletpoints
  }
}

.offer-container {
  display: flex;
  flex-flow: column;
  clear: both;
  //justify-content: center;

  @include susy-breakpoint($break-medium) {
    //flex-direction: row;
    flex-flow: row wrap;
  }
}

.offer-item {
  flex: 1 100%;
  width: 100%;
  text-align: center;
  margin: rem-calc(20 0);
  color: black;
  @include susy-breakpoint($break-medium) {
    margin: rem-calc(60 0);
  }
  &.is-third {
    flex: 1 33%;
    padding: rem-calc(0 16);
  }
  &.has-white-font {
    color: white;
  }
}
//.offer-item.is-thid {
//  flex: 1 33%;
//  padding: rem-calc(0 16);
//}

.offers-package-title {
  text-align: center;
  margin-bottom: rem-calc(60);
  @include susy-breakpoint($break-medium) {
    @include span(12 of 12);
  }
}
.offers-package-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  width: 100%;
  margin: rem-calc(32 0);
  background-color:#0097a8;
  border: 5px solid white;
}
.offers-package {
  flex: 1 auto;
  //align-items: stretch;
  width: 100%;

  text-align: center;
  padding: rem-calc(16);
  background-color: #018290;
  color: white;
  margin: rem-calc(16);

  //width: rem-calc(20);

  &.is-third {
    @include susy-breakpoint($break-medium) {
      width: 25%;
    }
  }
  &.is-fourth {
    @include susy-breakpoint($break-small) {
      width: 100%;
    }
    @include susy-breakpoint($break-medium) {
      width: 45%;
    }
    @include susy-breakpoint($break-large) {
      width: 20%;
    }
  }

  &.is-banner-before {
    flex: 1 100%;
    padding-left: rem-calc(16);
    padding-right: rem-calc(16);
    text-align: center;
    background: transparent;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  &.is-banner-after {
    flex: 1 100%;
    padding-right: rem-calc(16);
    text-align: left;
    background: transparent;
    padding-left: rem-calc(16);
  }

  &.last-child {
    flex: 1 100%;
    text-align: left;
    padding: rem-calc(16);
    margin: rem-calc(16);

    & > ul {
      display: flex;
      flex-flow: row wrap;
    }
    & > ul > li {
      flex: 1 25%;
      text-align: center;
      flex-basis: initial;
    }
    & h3 {
      margin: rem-calc(18 0);
    }
  }
}
.offers-banner-title {
  margin: 0;
  flex: 1 100%;
  width: 50%;
  align-self: center;
}
.promotion {
  border-top: 3px solid #98e2ea;
  border-bottom: 3px solid #98e2ea;
  padding: rem-calc(8);
}
.offer-banner-desc {
  margin-bottom: 0;
  flex: 1 100%;
}

.offers-package-list {
  padding: 0;
  & li {
    list-style-type: none;
  }
}
.offers-package-item {
  background-color: $color-yellow;
  color: $color-blue;
  padding: rem-calc(8);
  margin: rem-calc(8);
}
.offer-two-contact-form {
  margin-top: rem-calc(25);
  float: right;
  margin-right: 0;
  // flex: 2 100%;
  @include susy-breakpoint($break-medium) {
    @include span(6 of 12);
    margin-top: rem-calc(50);
    margin-bottom: rem-calc(25);
  //   padding-left: rem-calc(15);
  //   flex: 1 50%;
  }
}
.offer-three-contact-form {
  margin-top: rem-calc(25);
  // flex: 2 100%;
  @include susy-breakpoint($break-medium) {
    @include span(12 of 12);
    margin-top: rem-calc(50);
    margin-bottom: rem-calc(25);
  //   padding-left: rem-calc(15);
  //   flex: 1 50%;
  }
}
