.offers-container {
  @include container;
  display: flex;
  flex-flow: row wrap;
  clear: both;
  text-align: center;
}
//.offers-title {
//  @include susy-breakpoint($break-medium) {
//    @include span(10 of 12);
//    @include squish(1,1);
//  }
//}
//.offers-intro {
//  @include susy-breakpoint($break-medium) {
//    @include span(10 of 12);
//    @include squish(1,1);
//  }
//}
.offers-desc,
.offers-package-desc,
.offers-intro,
.offers-title {
  @include susy-breakpoint($break-medium) {
    @include span(11 of 12);
    @include squish(1,1);
  }
}

.offers-package-title {
  text-align: center;
  @include susy-breakpoint($break-medium) {
    @include span(12 of 12);
  }
}
.offers-group {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  //justify-content: space-between;
  justify-content: center;
  align-content: center;
  text-align: left;
  margin: 0 auto;
  @include squish(1,1);
  //flex: 1 100%;
  //@include susy-breakpoint($break-medium) {
  //  @include span(12 of 12);
  //  @include squish(1,1);
  //}
  @include susy-breakpoint($break-medium) {
    //flex: 1 33%;
  }
  &.has-one-col .offers-item {
    flex: 1 100%;
  }
  &.has-two-col .offers-item {
    flex: 1 50%;
  }
  &.has-three-col .offers-item {
    flex: 1 33%;
  }
}

.offers-item {
  //display: flex;
  //align-items: center;
  //justify-content: center;
  flex:1;
  text-align: center;
  padding: rem-calc(12 6);
  background: #002F47;
  color: white;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 1px;
  font-size: rem-calc(14);
  //width: 100%;

  &.is-empty {
    background: transparent;
  }
  &.is-orange {
    color: #000;
    background: #FF931E;
  }
  &.is-turkis {
    color: #000;
    background: #15B0BF;
  }
  &.is-turkislight {
    color: #000;
    background: #B2E6EC;
  }
  &.is-yellow {
    color: #000;
    background: #FFD301;
  }
}

.offers-package-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
  flex: 1 100%;
  align-items: flex-end;
  @include susy-breakpoint($break-medium) {
    flex-direction: row;
  }
  &.stretch {
    align-items: center;
  }
}
.offers-package {
  text-align: center;
  padding: rem-calc(16);
  background-color: $color-lightblue;
  color: white;
  margin: rem-calc(16 16);
}

.offers-package-list {
  padding: 0;
  & li {
    list-style-type: none;
  }
}
.offers-package-item {
  background-color: $color-yellow;
  color: $color-blue;
  padding: rem-calc(8);
  margin-bottom: rem-calc(8);
}
