.title-padding {
  padding-bottom: 0;
}

.team-subtitle {
  background: #00aec1;
  color: white;
  text-align: center;
  padding: 3%;
}

.team-picture {
  text-align: center;
  background: #002f47;
  color: white;
}