.ammtechlab section.techlab-hero,
.ostechlab section.techlab-hero {
  padding-bottom: 0;
  margin-bottom: -3rem;
  @include susy-breakpoint($break-large) {
    margin-bottom: -5rem;
  }  
  svg {
    display: flex;
    max-width: 1400px;
    margin: auto;
    margin-top: 3rem;
  }
}

section.section-audience,
section.section-target {
  background: #0E2F47;
  color: #fff;
}
section.section-price {
  padding-bottom: 5rem;
}

section.section-content {
  background: #15B0BF;
  color: #fff;
}

section.section-price {
  background: #012F47;
  color: #fff;
}

.ammtechlab,
.ostechlab {
  section {
    margin: 0;
    padding: 5rem 0;
    h3 {
      margin-top: 0;
    }
  }

  .section-audience {
    padding-top: 8rem;
  }

  .section-audience,
  .section-requirements {
    padding-bottom: 2rem;
  }
  .section-target,
  .section-language {
    padding-top: 0;
  }

  .section-price {
    margin-bottom: 0;
  }

}
