header .navbar-brand .navbar-item {
  padding-top: 0;
  padding-bottom: 0;
}
header .navbar-item img {
  height: 3rem;
}

header .navbar-dropdown {
  padding: 0;
  .navbar-item {
    padding: .5rem 1rem;
  }
  a {
    color: $darkblue;
  }
}

header .navbar {
  @include desktop {
    height: 3.5rem;
  }
}
header .navbar,
header .navbar>.container,
header .navbar-brand, .navbar-tabs,
header .navbar-item img {
  min-height: 3rem;
}

.navbar-item.has-dropdown:focus .navbar-link,
.navbar-item.has-dropdown:hover .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link {
  color: $darkblue;
  &:after {
    border-color: $darkblue;
  }
}

@include from($desktop) {
    .navbar-dropdown a.navbar-item:focus:last-child,
    .navbar-dropdown a.navbar-item:hover:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

  .navbar-start > .navbar-item {
    border-bottom: 6px solid transparent;
    margin-top: 6px;
    &.has-active {

      // background: rgba(255,255,255,.1);
      border-color: $yellow;
    }
  }
}


@include until($desktop) {
  header .navbar-menu {
    box-shadow: none;
    min-height: calc(100vh - 5rem);
    .navbar-dropdown {
      margin-bottom: 1rem;
      padding-left: 1rem;
    }
    .navbar-link:not(.is-arrowless)::after {
      display: none;
    }
    .button {
      margin: 1rem auto;
    }
  }
}
// header .navbar-menu > * {
//   align-items: center;
// }

@include until($desktop) {
  body .navbar-brand {
    .navbar-item {
      margin: 0;
    }
    .logos {
      justify-content: start;
      padding: 0.5rem;
      img {
        min-height: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}

.navbar-brand {
  overflow: hidden;
  text-align: center;
  .logos {
    display: flex;
    justify-content: center;
  }
  .navbar-item {
    margin: 0 auto;
  }
  .hannelore-logo {
    transform: rotateY(180deg);
    padding: 0.5em;
  }
}
.navbar-brand .logos > div {
  display: flex;
  height: 100%;
  &.hannelore-logo {
    display: none;
  }
}

body.is-home .navbar-brand .navbar-item > .logos {
  position: relative;
  height: $navbar-height;
  width: 150px;
  > div {
    position: absolute;
    top: 0;
    padding: 0;
    transition: 0.5s all ease;
  }
  img {
    margin: auto;
  }

  div.appuio-logo {
    top: 100px;
  }
  div.hannelore-logo {
    display: flex;
    img {
      min-height: 2.5rem;
      height: 2.5rem;
    }
  }
}
body.is-home.has-logo .navbar-brand .navbar-item > .logos {
  div.hannelore-logo {
    top: -100px;
  }
  div.appuio-logo {
    top: 0;
  }
}