<div class="owl-carousel dev-carousel owl-theme">
  <div class="item">
    <a class="hoverfx">
      <div class="figure">
        <h4>HITOBITO</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
          laoreet dolore magna aliquam erat volutpat</p>
      </div>
      <div class="overlay">
      </div>
      <img src="../../images/Customers/HITOBITO.svg">
    </a>
  </div>
  <div class="item">
    <a class="hoverfx">
      <div class="figure">
        <h4>HRM</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
          laoreet dolore magna aliquam erat volutpat</p>
      </div>
      <div class="overlay">
      </div>
      <img src="../../images/Customers/HRM.svg">
    </a>
  </div>
  <div class="item">
    <a class="hoverfx">
      <div class="figure">
        <h4>Mobiliar</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
          laoreet dolore magna aliquam erat volutpat</p>
      </div>
      <div class="overlay">
      </div>
      <img src="../../images/Customers/Mobiliar.svg">
    </a>
  </div>
  <div class="item">
    <a class="hoverfx">
      <div class="figure">
        <h4>Peax</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
          laoreet dolore magna aliquam erat volutpat</p>
      </div>
      <div class="overlay">
      </div>
      <img src="../../images/Customers/PEAX.svg">
    </a>
  </div>
</div>
