<div class="slider-wrap">
  <div class="slider-dev">
    <ul>
      <li> Your Content 1</li>
      <li> Your Content 2</li>
      <li> Your Content 3</li>
      <li> Your Content 4</li>
      <li> Your Content 5</li>
    </ul>
  </div>
  <a href="#" class="slider-arrow sa-left-d">&lt;</a>
  <a href="#" class="slider-arrow sa-right-d">&gt;</a>
</div>