<div class="owl-carousel gold-carousel owl-theme">
  <div class="item" style="width:250px">
    <div>
      <img src="//placehold.it/250x250/11b/fff/">
      <h4>Gold 1</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
        laoreet dolore magna aliquam erat volutpat</p>
    </div>
  </div>
  <div class="item" style="width:250px">
    <img src="//placehold.it/250x250/11b/fff/">
    <h4>Gold 2</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
      dolore magna aliquam erat volutpat</p>
  </div>
  <div class="item" style="width:250px">
    <img src="//placehold.it/250x250/11b/fff/">
    <h4>Gold 3</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
      dolore magna aliquam erat volutpat</p>
  </div>
  <div class="item" style="width:250px">
    <img src="//placehold.it/250x250/11b/fff/">
    <h4>Gold 4</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
      dolore magna aliquam erat volutpat</p>
  </div>
  <div class="item" style="width:250px">
    <img src="//placehold.it/250x250/11b/fff/">
    <h4>Gold 5</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
      dolore magna aliquam erat volutpat</p>
  </div>
</div>