<div class="slider-wrap">
  <div class="slider-platinum">
    <ul>
      <li> <img src="../../images/puzzle_logo.svg"></li>
      <li> <img src="../../images/openshift_logo.svg"></li>
      <li> <img src="../../images/vshn_logo.svg"></li>
    </ul>
  </div>
  <a href="#" class="slider-arrow sa-left-p">&lt;</a>
  <a href="#" class="slider-arrow sa-right-p">&gt;</a>
</div>