* {
  box-sizing: border-box;
  flex: none;
  vertical-align: middle;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: $base-font;
  color: black;
  background: white;
}

img {
  max-width: 100%;
}

li {
  line-height: rem-calc(24);
  margin-bottom: rem-calc(8);
  text-align: left;
  font-size: rem-calc(18);
}
