* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: $base-font;
  color: black;
  background: white;
}
img {
  max-width: 100%;
}