/*doc
---
title: Input and Textarea
name: input
category: Base
---

```html_example
<input type="email" placeholder="Enter email">
<textarea placeholder="Comment"></textarea>
<input id="check" type="checkbox" name="check"> <label for="check">I'm ok</label>
```
*/

// Input / Textarea
// ----------------------------------------------
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea {
  display: block;
  width: 100%;
  color: #333;
  padding: rem-calc(6 10);
  margin-top: rem-calc(25);
  border: 4px solid white;
  vertical-align: middle;
  font-size: rem-calc(24);
  line-height: rem-calc(28);
  // text-transform: uppercase;
  letter-spacing: rem-calc(1);
  transition: border 100ms ease;

  &:first-child {
    margin-top: 0;
  }
  &:focus {
    border: 4px solid #FFD301;
    outline: 0;
  }
}


// Checkbox
// ----------------------------------------------
.checkbox {
  
}
