// Headings
// ----------------------------------------------

/*doc
---
title: Headings
name: Heading
category: Base
---

Heading elements implement six levels of document headings, `<h1>` is the most important and `<h6>` is the least. A heading element briefly describes the topic of the section it introduces. Heading information may be used by user agents, for example, to construct a table of contents for a document automatically.

```html_example
<h1>Heading level 1</h1>
<h2>Heading level 2</h2>
<h3>Heading level 3</h3>
<h4>Heading level 4</h4>
<h5>Heading level 5</h5>
<h6>Heading level 6</h6>

<h1 class="h2">Heading level 1 with .h2 style</h1>
<h2 class="h1">Heading level 2 with .h1 style</h2>
```
*/


h1, .h1 {
  font-weight: 400;
}

h2, .h2 {
  font-weight: 400;
  font-size: rem-calc(48);
  line-height: rem-calc(60);
  @include susy-breakpoint($break-medium) {
    font-size: rem-calc(64);
    line-height: rem-calc(72);
  }
}

h3, .h3 {
  font-size: rem-calc(24);
  line-height: rem-calc(36);
  font-weight: 400;
  @include susy-breakpoint($break-medium) {
    font-size: rem-calc(36);
    line-height: rem-calc(44);
  }
}

h4, .h4 {

}

h5, .h5 {

}

h6, .h6 {

}

// Links
// ----------------------------------------------

/*doc
---
title: Links
name: Links
category: Base
---

The HTML `<a>` Element (or the HTML Anchor Element) defines a hyperlink, the named target destination for a hyperlink, or both.

```html_example
<a href="http://wearecube.ch/">Here we cube</a>
```
*/

a {
  color: darken($color-lightblue, 5%);

  &:hover,
  &:active {
    color: $color-blue;
  }
  &:visited {

  }
  &:focus {

  }
}

a.is-yellow {
  color: #FFD301;
}

p {
  font-size: rem-calc(16);
  line-height: rem-calc(20);
  @include susy-breakpoint($break-medium) {
    font-size: rem-calc(18);
    line-height: rem-calc(24);
  }
}

// Horizontal lines
// ----------------------------------------------
hr {

}

// Code
// ----------------------------------------------
pre {
  padding: rem-calc(16);
  overflow: auto;
  line-height: 1.45;
  background-color: $color-grey;
  color:inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  display: inline;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
  font-size: .9em;
}

.code-indent {
  margin-left: 2em;
  display: block;
}

.text-black {
  color: #000000;
}

.text-align-left {
  text-align: left;
}

.text-white {
  color: #fff;
}