---
title: APPUiO - Managed Private PaaS
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
    <%= partial "partials/offer1" %>

</main>

<%= partial "partials/footer" %>
