// Advantages
// ----------------------------------------------
.advantages {
  color: #FFFFFF;
  background-color: #022F47;
  background-repeat: no-repeat;
  background-position: top right;
  padding: rem-calc(100 0);
  text-align: center;
  overflow: hidden;

  .callout-item {
    background-color: transparent;
    .callout-title {
      min-height: 0;
      color: #FFFFFF;
      margin-bottom: 0px;
      width: 100%;
    }
  }

}
.advantages-desc {
  @include susy-breakpoint($break-medium) {
    @include span(10 of 12);
    @include squish(1, 1);
  }
}
