.boxes {
  display: flex;
  flex: auto;
  flex-direction: column;
  > div {
    background: #fff;
    color: #012F47;
    padding: 1rem;
    margin: 1rem 0.5rem;
    flex: 1;
    h4 {
      margin: 0 0 0.5rem 0;
      font-weight: normal;
      font-size: rem-calc(24);
    }
  }
  @include susy-breakpoint($break-large) {
    flex-direction: row;
  }  
}


.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.justify-center {
  justify-content: center;
}