// Buttons
// ----------------------------------------------

/*doc
---
title: Button
name: Button
category: Module
---

Button styles can be applied to any element. Typically you'll want to
use either a `<button>` or an `<a>` element:

```html_example
<button class="button">Simple button</button>
<a class="button" href="http://wearecube.ch">Link with .button class</a>
<a class="button is-primary">Primary button</a>
<a class="button is-disabled">Disabled button</a>
```

Three sizes for the buttons: small, medium (default) and big.

```html_example
<a class="button is-small">Small</a>
<a class="button">Medium</a>
<a class="button is-big">Big</a>
```
*/

.button, 
button.button,
a.button {
  display: inline-block;
  padding: rem-calc(8 22);
  background: #FFD301;
  border: 4px solid #FFD301;
  color: #002F47;
  font-size: rem-calc(14);
  line-height: rem-calc(24);
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  transition: all 300ms ease-in-out;
  -webkit-appearance: none;
  &.is-round {
    border-radius: rem-calc(24);
  }
  &:focus,
  &:focus:hover,
  &:hover,
  &:active {
    color: #002F47;
    background-color: #fff;
  }
  &.is-small {
    padding: rem-calc(3 6);
    font-size: rem-calc(12);
  }
  &.is-big {
    padding: rem-calc(11 24);
    font-size: rem-calc(18);
  }
  &:disabled,
  &.is-disabled {
    color: #aaa;
    background-color: #ddd;
    cursor: not-allowed;
  }
}
.button-progress.is-loading {
  position: relative;
  border-radius: rem-calc(24);
  overflow: hidden;
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #FFD301;
    animation: pulse 2s 1;
    transition: background-color 200ms ease;
  }
  &.is-check:after {
    background-color: #C2D64C;
  }
  &.is-exclamation:after {
    background-color: #FFAC32;
  }
  .button-progress-feedback {
    position: absolute;
    top: rem-calc(-1);
    left: 50%;
    z-index: 2;
    color: #002F47;
    font-size: rem-calc(14);
    line-height: rem-calc(24);
    transform: translate(-50%, 0) scale(1);
    animation: appear 300ms 1;
  }
}
@keyframes pulse {
  0% {
    width: 0;
  }
  70% {
    width: 60%;
  }
  100% {
    width: 100%;
  }
}
@keyframes appear {
  0% {
    transform: translate(-50%, 20%) scale(0);
  }
  50% {
    transform: translate(-50%, 0) scale(1.2);
  }
  100% {
    transform: translate(-50%, 0) scale(1);
  }
}