.callout-list {
  @include reset-list;
  @include susy-breakpoint($break-large) {
    display: flex;
  }

  .callout-item-team-member {
    background: white;
  }
}
.callout-item {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: stretch;
  background: $color-blue;
  border-radius: 2px;
  padding: rem-calc(20);
  margin: rem-calc(20) auto 0;
  max-width: rem-calc(320);
  min-height: rem-calc(340);
  overflow: hidden;
  text-align: center;

  &.callout-item-block {
      display: block;
  }
  &:first-child {
    margin-top: 0;
  }
  &.offer1-image {
    background: $color-blue url('/images/cards/card_managed_white_noText.svg') no-repeat;
    background-position: center -3rem;
    background-size: 100%;
  }
  &.offer2-image {
    background: $color-blue url('/images/cards/card_public_white_noText.svg') no-repeat;
    background-position: center -3rem;
    background-size: 100%;
  }
  &.offer3-image {
    background: $color-blue url('/images/cards/card_unmanaged_white_noText.svg') no-repeat;
    background-position: center -3rem;
    background-size: 100%;
  }

  @include susy-breakpoint($break-large) {
    &.offer1-image,
    &.offer2-image,
    &.offer3-image {
      background-position: center top;
      background-size: 100%;
    }
    flex: 1;
    margin-top: rem-calc(20);
    margin-left: rem-calc(30);
    &:first-child {
      margin-top: rem-calc(20);
      margin-left: 0;
    }
  }
}
.callout-ribbon {
  padding: 0.5rem;
  margin-left: rem-calc(-20);
  margin-right: rem-calc(-20);
  margin-top: rem-calc(-20);
  height: rem-calc(36);
  text-transform: uppercase;
  color: #000;
  &.offer1-bg {
    background-color: $color-greyblue;
  }
  &.offer2-bg {
    background-color: $color-orange;
  }
  &.offer3-bg {
    background-color: $color-green;
  }
}
.no-flexbox .callout-item {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.callout-title {
  flex: 1;
  font-size: rem-calc(24);
  line-height: rem-calc(28);
  color: #FFFFFF;
  margin-bottom: 0;
}
.callout-desc {
  min-height: rem-calc(192);
  flex: 1;
}
.callout-button {
  flex: none;
  margin-top: rem-calc(140);
}
.callout-title,
.callout-desc {
  display: inline-block;
  overflow: hidden;
  text-align: center;
}
.callout-image {
  text-align: center;
  line-height: rem-calc(96);
  & > img {
    vertical-align: middle;
  }
}
