.callout-list {
  @include reset-list;
  @include susy-breakpoint($break-large) {
    display: flex;
  }
}
.callout-item {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: stretch;
  background: #002F47;
  //box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.24);
  border-radius: 2px;
  padding: rem-calc(20);
  margin: rem-calc(20) auto 0;
  max-width: rem-calc(320);
  min-height: rem-calc(320);
  overflow: hidden;
  &:first-child {
    margin-top: 0;
  }
  &.is-first {
    background-color: $color-first;
  }
  &.is-second {
    background-color: $color-second;
  }
  &.is-third {
    background-color: $color-third;
  }
  @include susy-breakpoint($break-large) {
    flex: 1;
    margin-top: rem-calc(20);
    margin-left: rem-calc(60);
    &:first-child {
      margin-top: rem-calc(20);
      margin-left: 0;
    }
  }
}
.no-flexbox .callout-item {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.callout-title {
  flex: 1;
  font-size: rem-calc(24);
  line-height: rem-calc(28);
  color: #FFFFFF;
  min-height: rem-calc(56);
}
.callout-desc {
  min-height: rem-calc(192);
  flex: 1;
}
.callout-button {
  flex: none;
}
.callout-title,
.callout-desc {
  display: inline-block;
  overflow: hidden;
}
.callout-image {
  text-align: center;
  line-height: rem-calc(96);
  & > img {
    vertical-align: middle;
  }
}
