.feature-container {
  display: flex;
  flex-flow: row wrap;
  clear: both;
}
.feature-item {
  flex: 1 100%;
  text-align: center;
  width: 100%;
  margin: rem-calc(20 0);
  @include susy-breakpoint($break-medium) {
    margin: rem-calc(60 0);
  }
}
.feature-item.is-small {
  @include susy-breakpoint($break-medium) {
    flex: 1 50%;
  }
}
.feature-image {
  margin: 0 auto rem-calc(20);
  @include susy-breakpoint($break-medium) {
    margin: 0 auto rem-calc(60);
  }
}
.feature-desc {
  @include susy-breakpoint($break-medium) {
    @include span(10 of 12);
    @include squish(1, 1);
  }
}