.feature-container {
  display: flex;
  flex-flow: row wrap;
  clear: both;
}
.feature-item {
  flex: 1 100%;
  text-align: center;
  width: 100%;
  margin: 0;

}
.feature-item.is-small {
  @include susy-breakpoint($break-medium) {
    flex: 1 50%;
  }
}
.feature-img {
  margin-top: 60px;
}
.feature-desc {
  @include susy-breakpoint($break-medium) {
    @include span(10 of 12);
    @include squish(1, 1);
  }
}
