.interest-item {
  label.radio-label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 45px;
    margin-right: 60px;
    font-size: 13px;
    height: 22px;
    margin-top: 15px;
  }

  input[type=radio] {
  	display: none;
  }
  label.radio-label::before {
  	content: "";
  	display: inline-block;
  	width: 25px;
  	height: 25px;
  	margin-right: 10px;
  	position: absolute;
  	left: 0;
  	bottom: 1px;
    border: 1px solid $color-darkgrey;
  }

  label.radio-label::before {
  	border-radius: 17px;

  }
  input[type=radio]:checked + label.radio-label::before {
      background: url('/images/dot.svg') 0px 0px no-repeat;
      font-size: 30px;
      text-align: center;
      line-height: 18px;
  }

  label.radio-label:hover::before {
      border-color: $color-yellow;
  }
}

.contract-hint {
  text-transform: none;
}

.interest-item,
.interest-light {
  position: relative;
  text-align: left;
}
.interest-item {
  font-size: rem-calc(16);
  line-height: rem-calc(16);
  letter-spacing: rem-calc(1);
  text-transform: uppercase;
  margin-top: rem-calc(25);
}
.interest-title {
  font-size: rem-calc(24);
  line-height: rem-calc(30);
  margin: rem-calc(0);
  @include susy-breakpoint($break-medium) {
    font-size: rem-calc(18);
    line-height: rem-calc(25);
    text-align: left;
  }
}
.interest-checkbox {
  position: absolute;
  opacity: 0;
}

.interest-item .interest-checkbox + label,
.interest-light .interest-checkbox + label,
.interest-item .interest-radio + label,
.interest-item label.radio-label::before {
  transition: border 100ms ease, color 100ms ease;
  color: $color-darkgrey;
  cursor: pointer;
  a:hover {
    color: white;
  }
}

.interest-item .interest-checkbox + label,
.interest-light .interest-checkbox + label {
  display: block;
  padding: rem-calc(12 12 12 48);
}
.interest-item .interest-checkbox + label {
  background: #002F47;
  padding: rem-calc(15 12 15 48);
  border: 1px solid $color-darkgrey;
}
.interest-icon {
  display: block;
  position: absolute;
  top: rem-calc(12);
  left: rem-calc(12);
  width: rem-calc(22);
  height: rem-calc(22);
  color: #002F47;
  border: 1px solid $color-darkgrey;
  transition: border 100ms ease, color 100ms ease;
}
.interest-checkbox:checked + label,
.interest-radio:checked + label {
  color: white;
  border-color: white;
  .interest-icon {
    color: inherit;
    border-color: white;
  }
}
.interest-checkbox:focus + label,
.interest-checkbox + label:hover,
.interest-item .interest-radio:focus + label,
.interest-item .interest-radio + label:hover {
  color: $color-yellow;
  border-color: $color-yellow;
  .interest-icon {
    border-color: $color-yellow;
  }
}
