.interest-item {
  position: relative;
  font-size: rem-calc(16);
  line-height: rem-calc(16);
  letter-spacing: rem-calc(1);
  text-transform: uppercase;
  text-align: left;
  margin-top: rem-calc(25);
}
.interest-title {
  font-size: rem-calc(24);
  line-height: rem-calc(30);
  margin: rem-calc(0);
  @include susy-breakpoint($break-medium) {
    font-size: rem-calc(18);
    line-height: rem-calc(25);
    text-align: left;
  }
}
.interest-checkbox {
  position: absolute;
  opacity: 0;
}
.interest-checkbox + label {
  display: block;
  background: #002F47;
  padding: rem-calc(15 12 15 48);
  border: 1px solid #99ABB5;
  color: #99ABB5;
  cursor: pointer;
  transition: border 100ms ease, color 100ms ease;
}
.interest-icon {
  display: block;
  position: absolute;
  top: rem-calc(12);
  left: rem-calc(12);
  width: rem-calc(22);
  height: rem-calc(22);
  color: #002F47;
  border: 1px solid #99ABB5;
  transition: border 100ms ease, color 100ms ease;
}
.interest-checkbox:checked + label {
  color: white;
  border-color: white;
  .interest-icon {
    color: inherit;
    border-color: white;
  }
}
.interest-checkbox:focus + label,
.interest-checkbox + label:hover {
  color: #FFD301;
  border-color: #FFD301;
  .interest-icon {
    border-color: #FFD301;
  }
}