/*doc
---
title: Horizontal navigation
name: navigation
category: Module
---

Responsive hotizontal menu.

```html_example
<nav class="header-nav nav-horizontal" role="navigation">
<ul>
<li>
<a href="/">Home</a>
</li>
<li>
<a href="/styleguide">Styleguide</a>
</li>
<li>
<a href="https://github.com/wearecube">Github repo</a>
</li>
</ul>
</nav>
```
*/
.nav-header {
  // display: flex;
  height: rem-calc(50);
  overflow: hidden;
  transition: all 300ms ease;
  margin: rem-calc(0 -20);
  @include susy-breakpoint($break-medium) {
    margin: none !important;
  }
  &.is-expanded {
    height: auto;
  }
  .nav-toggle-close {
    display: none;
  }
  &.is-expanded .nav-toggle-close {
    display: inline-block;
  }
  &.is-expanded .nav-toggle-menu {
    display: none;
  }

  @include susy-breakpoint($nav-break-collapse) {
    overflow: visible;
  }

  li.active {
    background: #FFD301;
    & a {
      color: #002F47;
    }
  }
}
.nav-global {
  &.is-expanded {
    display: flex;
    flex-flow: row wrap;
  }
}
.nav-header,
.nav-header.is-expanded {
  @include susy-breakpoint($nav-break-collapse) {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  @include susy-breakpoint($break-large) {
    padding-left: 1.5rem;
  }
}
.is-horizontal {
  @include reset-list;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  @include susy-breakpoint($nav-break-collapse) {
    flex-flow: row wrap;
    padding: 0;
    align-items: flex-end;
  }
}
.nav-main {
  position:relative;
  order: 1;
  @include susy-breakpoint($nav-break-collapse) {
    width: 61%;
    order: 2;
  }
  @include susy-breakpoint($break-large) {
    width: 75%;
    order: 2;
  }
}
.nav-global {
  position:relative;
  width: 100%;
  order: 1;
  @include susy-breakpoint($nav-break-collapse) {
    //width:40%;
    order: 1;
  }
  @include susy-breakpoint($break-large) {
    //width: 30%;
    order: 1;
  }
}
.nav-lang {
  position:relative;
  width: 40%;
  order: 3;
  @include susy-breakpoint($nav-break-collapse) {
    width:30%;
    order: 3;
    right: 3em;
  }
  @include susy-breakpoint($break-large) {
    width:23%;
    order: 3;
  }
  @include  susy-breakpoint($nav-break-extended) {
    right: 0;
  }
}

.no-flexbox {
  .nav-lang,
  .nav-main,
  .nav-lang > li,
  .nav-main > li {
    @include susy-breakpoint($nav-break-collapse) {
      display: inline-block;
    }
  }
  .nav-main,
  .nav-global {
    position:relative;
    @include susy-breakpoint($nav-break-collapse) {
      float: left;
    }
  }
}
.nav-global > li {
  & > a {
    display: block;
    color:#B2E6EC;
    padding:rem-calc(10 20);
    font-size:rem-calc(13);
    text-decoration: none;
  }
  & > a:hover {
    text-decoration:underline;
    color:#002F47;
  }
}
.nav-global > li.active {
  & > a {
    color:#002F47;

  }
  & > a:hover {
    text-decoration:underline;
    color:#002F47;
  }
}
.nav-main > li,
.nav-global > li {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  @include susy-breakpoint($nav-break-collapse) {
    width: auto;
    text-align: left;
  }
}

.nav-lang > li,
.nav-main > li {
  overflow: visible;
  position: relative;
  font-size: inherit;
  margin-bottom: 0;

  > ul {
    display: none;
    min-width: 61px;
    position: absolute;
    background-color:#98e2ea;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 1px 5px 3px rgba(66, 66, 66, 0.1);

    & > li {
      text-align: left;

      & > a {
        color: white;
        padding: rem-calc(10);
        display:block;
        color:#002F47;
        text-decoration: none;
        white-space: nowrap;
      }
      & > a:hover {
        background-color: #FFD301;
        color: #002F47;
      }
    }
  }
  &:hover > ul {
    display: none;

    @include susy-breakpoint($nav-break-collapse) {
      display: block !important;
    }
  }
  & > a {
    display: block;
    background: transparent;
    padding: rem-calc(10 20);
    color: white;
    line-height: rem-calc(20);
    text-decoration: none;
    transition: background-color 200ms ease, color 200ms ease;

    @include susy-breakpoint($nav-break-collapse) {
      margin-top: 0;
      padding: rem-calc(10 20);
    }
  }
  & > a:hover {
    background-color: #FFD301;
    color: #002F47;
  }
  &.is-current > a {
    color: #002F47;
    display: inline-flex;
    align-items: center;

      @include susy-breakpoint($nav-break-collapse) {
      &::after {
        content: " ";
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 4px solid #002F47;
        margin-left: 0.4em;
      }
    }
  }
}

.nav-lang {
  @include reset-list;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  @include susy-breakpoint($nav-break-collapse) {
    .for-mobile {
      display: none;
    }
  }
}

.nav-button {
  min-height: 55px;
}

div.active {
  background: #FFD301;
  & .nav-button {
    color: #002F47;
  }
}

@media only screen and (max-width: 60em) {
  .nav {
    align-items: start;
  }
  .nav-element {
    width: 150px;
    display: flex;
    justify-content: start;
  }
  .dropdown .dropbtn {
    width: 100%;
    text-align: start;
  }
}

a.nav-element-route.active {
  background: #FFD301;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #FFD301;
  color: #002F47;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

@media only screen and (max-width: 639px) {
  .dropdown-content-offerings {
    position: absolute;
    top: 55px;
    left: 160px;
  }
  .dropdown-content-community {
    top: 110px;
  }
}

.dropdown-content a {
  float: none;
  color: #002F47;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: all 300ms ease;
  background: #B2E6EC;
  padding: rem-calc(12 13 13 12);
  font-size: 1.125rem;
}

.dropdown-content a:hover {
  background-color: #FFD301;
}

.show {
  display: block;
}

.nav-toggle-menu,
.nav-toggle-close {
  display: inline-block;
  line-height: 0;
  padding: rem-calc(12 13 13 12);
  color: white;
  background: #00AEC1;
  transition: all 300ms ease;
  &:hover,
  &:focus {
    background-color: #FFD301;
    color: #002F47;
  }
  @include susy-breakpoint($nav-break-collapse) {
    display: none !important;
  }
}

.sidenav-style {
  position: absolute;
  top: 50px;
  @include susy-breakpoint($nav-break-collapse) {
    display: none;
  }
}

.sidenav-color-setting {
  background: #00AEC1;
}

.sidenav-element {
  width: 100%;
}

.sidenav-sub-nav-dropdown {
  position: absolute;
  left: 160px;
}
