.offers-package-title {
  text-align: center;
  margin-bottom: rem-calc(60);
  @include susy-breakpoint($break-medium) {
    @include span(12 of 12);
  }
}
.offers-package-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  width: 100%;
  margin: rem-calc(32 0);
}

a.offers-package {
  color: white;
  text-decoration: none;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.1)
  }
}

.offers-package {
  flex: 1 auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;

  text-align: center;
  padding: rem-calc(16);
  background-color: $color-blue;
  color: white;
  margin: rem-calc(16) 0;

  &.is-third {
    @include susy-breakpoint($break-medium) {
      width: 25%;
    }
  }
  &.is-fourth {
    &:not(:last-child) {
      @include susy-breakpoint($break-medium) {
        margin-right: 2rem;
      }
    }
    @include susy-breakpoint($break-small) {
      width: 100%;
    }
    @include susy-breakpoint($break-medium) {
      width: 40%;
    }
    @include susy-breakpoint($break-large) {
      width: 20%;
    }
  }

  &.is-banner-before {
    flex: 1 100%;
    padding-left: rem-calc(16);
    padding-right: rem-calc(16);
    text-align: center;
    background: transparent;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  &.is-banner-after {
    flex: 1 100%;
    padding-right: rem-calc(16);
    text-align: left;
    background: transparent;
    padding-left: rem-calc(16);
  }

  &.last-child,
  &.package-contents {
    flex: 1 100%;
    flex-basis: 100%;
    text-align: left;
    padding: rem-calc(16);

    & > ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }
    & > ul > li {
      flex: 1 100%;
      text-align: left;
      @include susy-breakpoint($break-medium) {
        flex: 3 25%;
      }
    }
    & h3 {
      margin: rem-calc(18 0);
      width: 100%;
    }
  }
}

.offers-package-container--offers2 {
  .offers-package {
    flex-flow: column;
    .offers-package-ribbon {
      flex: 0 0 auto;
    }
  }
}

.offers-package-list-title {
  text-align: center;
  flex: 1 0 100%;
}
.offers-banner-title {
  margin: 0;
  flex: 1 100%;
  width: 50%;
  align-self: center;
}
.offers-banner-desc {
  text-align: left;
  flex: 1;
}
.promotion {
  border-top: 3px solid #98e2ea;
  border-bottom: 3px solid #98e2ea;
  padding: rem-calc(8);
}
.offer-banner-desc {
  margin-bottom: 0;
  flex: 1 100%;
}

.offers-package-list {
  padding: 0;
  flex: 1 100%;
  & li {
    list-style-type: none;
  }
}
.cols-4 {
  & > li {
    @include susy-breakpoint($break-medium) {
      flex: 4 20%!important;
    }
  }
}
.offers-package-item {
  border-bottom: 1px solid $color-grey;
  padding: rem-calc(8 8 24 8);
  margin: rem-calc(8);
}

.offer-two-contents {
  .offers-package-title {
    margin: 5rem 0rem 2rem 0rem;
  }
  .package-contents {
    background-color: white;
    color: black;

    .offers-package-list {
      align-items: flex-start;
      justify-content: flex-start;
    }

    li.offers-package-item {
      border-bottom: none;
      &.offer-package-power {
        margin: 1.125rem 0;
      }
      @include susy-breakpoint($break-medium) {
        width: 31%;
        flex: unset !important;
      }
      li {
        border-bottom: 1px solid #E5EAED;
        @include susy-breakpoint($break-medium) {
        min-height: 12rem;
      }
        padding: 2rem 0rem;
      }
    }
  }
}

.advantages-height-spacing-min {
  min-height: 6rem;
}
