.ribbon-fixed {
  display: block;
  visibility: visible;
  @include susy-breakpoint($break-large) {
    display: none;
    visibility: hidden;
  }
}

.ribbon-container {
    width: 150px;
    height: 150px;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    z-index: 9999;
    pointer-events: none;
    display: none;
    visibility: hidden;
    @include susy-breakpoint($break-large) {
      display: block;
      visibility: visible;
    }
}
.ribbon {
    position: absolute;
    top: 42px;
    right: -43px;
    transform: rotate(45deg);
    padding: 2px 0;
    background-color: #98E2EA;
    z-index: 9999;
    pointer-events: auto;
}
.ribbon a {
  display: inline-block;
width: 200px;
padding: 2px 0;
color: #002F47;
font-size: 0.875em;
line-height: 1.71429em;
text-align: center;
text-decoration: none;
}
