.technology-container {
  @include container;
}

.technology-group {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  @include susy-breakpoint($break-medium) {
    @include span(6 of 12);
    &:last-child {
      @include last;
    }
  }

  &.has-two-col .technology-item {
    flex: 1 50%;
  }
  &.has-three-col .technology-item {
    flex: 1 33%;
  }
}
.technology-title {
  flex: none;
  width: 100%;
}
.technology-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: rem-calc(60);
  min-height: rem-calc(64);
  background: #002F47;
  color: white;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 1px;

  &.is-empty {
    background: transparent;
  }
  &.is-orange {
    color: #000;
    background: #FF931E;
  }
  &.is-turkis {
    color: #000;
    background: #15B0BF;
  }
  &.is-turkislight {
    color: #000;
    background: #B2E6EC;
  }
  &.is-yellow {
    color: #000;
    background: #FFD301;
  }
}
.technology-desc {
  flex: 1 100%;
  font-size: rem-calc(14);
  line-height: rem-calc(24);
  margin: rem-calc(6);
}