$cloud-blue: #A7E4F2;

body.page-cloud {
  .cloud-header-top {
    @extend .p-0;
    background: $cloud-blue;
  }

  .footer-wrapper {
    background: $darkblue;
  }

  .description {
    @extend .is-size-4;
    @extend .my-6;
  }

  .advantages ul {
    @extend .columns;
    @extend .is-multiline;
    li {
      @extend .column;
      @extend .is-one-third;
      @extend .my-5;
    }
    h3 {
      @extend .pt-1;
      @extend .my-2;
    }
  }
}


// fix calculator styles
.container-final-price h2,
.container-final-price p {
  margin: 0 ;
}
.container-final-price {
  padding: 0.5em;
  margin: 2em 0;
  border-radius: 0.5em;
}
#selectProvider {
  appearance: auto;
}