section.offering-hero {
  background: $darkblue;
  @extend .p-0;
  h1 {
    @extend .is-size-1;
    font-weight: normal;
    color: $white;
  }
  .container {
    position: relative;
    top: -14vw;
    margin-bottom: -14vw;
    padding-bottom: 40px;
    color: $white;
    p {
      @extend .is-size-5;
    }
  }
}
section.offering-hero + section {
  @extend .pt-4;
}
